[2011-08-03 22:15] a1anm opened #2 "Being sent to bottom of page on browser back"
Hi,

I have installed and configuring the extension.  My problem is that after scrolling down the catalog and choosing a product once I hit the browser back button I will be returned to the catalog but I will always be taked to the very bottom of the page (where all products are out of view).

You can see the behaviour here:
http://testsite.twistedtime.com/mens-watches.html

Is this normal?  Is th

[2011-08-25 02:29] jeannie28 opened #3 "need some help"
thank you for your hard works.
just install work fine but has one issue

after all the page are loaded if i scroll back to top page ( first page )
in firefox and chrome can't click on products. (only top first page products).

if anyone know how to fix this issue i really need help

thank you

[2011-10-14 12:41] #3 closed, assigned to nobody

[2011-12-13 19:41] sabzoo opened #4 "Internet Explorer"
Hi,

I encountered some problems with the exrtension using it in the Internet Explorer 8. The products aren't loaded after scrolling down. Firefox working fine. Any clue why?

Thanks in advance!

[2012-01-02 14:21] #4 closed, assigned to nobody

[2012-03-06 00:37] cannycookie opened #5 "Scrolling forever"
Hi Guys,

Don't know if your still working on this, but _maybe_ someone could give me a nudge in the right direction.

Scroll is working beautifully with my customised masonry theme for Mage but it repeats loading the last page and never gets to the end.  I have 4 pages of products but if you manually load &p=5 you get the same page as p=4.

I initially had V2 installed from the main infinite scro

[2012-03-08 12:14] #5 closed, assigned to nobody

[2012-04-04 08:36] rogerwatch opened #6 "Is it possible to add Masonry infinite scroll"
I want to setup a site that is like Pinterest.com layout with infinite scroll, but I am not good at Javascript or any other programm language, do you have any plan to integrate Infinite scroll and Masonry both to Magento.

Thanks in advanced

[2012-04-04 11:22] #6 closed, assigned to nobody

[2012-05-04 21:53] DustinNordquist opened #7 "Configure for Grid and List"
Can there only be one selector defined in the InfiniteScroll configuration tab?  I would like the users to be able to switch between grid and list display. Currently only grids are selected using: ul.products-grid. Can I select both grid and list using: ul.products-grid, ul.products-list? Thanks.

[2012-05-07 10:41] janihemanspice opened #8 "This is not working on all category and after search result"
This is not working on all category and after search result.so please if you can help me out to work for magento infiniteScroll2 extension for all pages

[2012-05-08 07:12] gsomoza opened #9 "Design Files Should Be Relocated"
Design files are incorrectly located under the `default` package. The extension won't work out of the box on Magento sites running a different package.

Move all layout and template files to the 'base' package.

(!) This will break compatibility with Magento 1.3 and older. We should tag the previous commit so that users can download the extension as it was before this change. We could also conside

[2012-05-09 10:31] janihemanspice opened #10 "In script Ip address increments instead of page no(ex:192.168.0.2)"
In script Ip address increments instead of page no(ex: static demo ip 192.168.0.2)
hi i encounter this issue please help me out what the reason i used magento 1.5.1.0

[2012-06-08 15:09] #2 closed, assigned to nobody

[2012-06-08 15:21] #9 closed, assigned to nobody

[2012-07-21 07:53] sumitkv2 opened #11 "error"
Infinite scroll in magento store doesnt work...Magento 1.7 community version... gives error ...
<code>the specified key does not exist.<message>

[2012-08-15 02:16] swagsyinc opened #12 "404 on admin page"
Magento Connect said the install was successful but when I visit the extension configuration page in the admin, a 404 appears embedded in the admin panel

[2012-08-15 07:08] #12 closed, assigned to nobody

[2012-08-15 07:45] swagsyinc opened #13 "Can't get this to work on Magento 1.6.1 - JS not loading."
I can't get this to work. I noticed the hidetoolbar feature is working but nothing else. I do have a custom theme and changed the selectors in the admin config but that didn't work. I noticed that the jquery.infinitescroll.js file referenced in the layout xml is not loading at all on the page. Any ideas how to troubleshoot?

One thing to note is that we already have the jquery library loading and

[2012-08-25 13:45] #13 closed, assigned to nobody

[2012-09-04 07:43] fzoccara opened #14 "Callback functions not called after item retrieving"
Hi guys!
At first I would to thank you for this magento extension!!! You've done a great job!
By the way I'm tring to understand how to make callaback functions work.
I mean the code inserted on backend configuration (callback) does not run at the end of the retrieving of the products.
May I did some mistake on install procedure or is a common problem?

Thanks Guys!

[2012-09-04 08:17] #11 closed, assigned to nobody

[2012-09-04 08:17] #10 closed, assigned to nobody

[2012-09-07 08:52] cojaco opened #15 "is it possible to load a specific amount of items?"
Hi,

is it somehow possible to adjust the code so that only e.g. 4 items are loaded every time?

[2012-10-19 16:44] pljspahn opened #16 "store installed in subfolder"
My store is located at www.example.com/store.

The controller URL is trying to locate at www.example.com/infinitescroll/js   instead of at www.example.com/store/infinitescroll/js

I will be looking for the fix, but posted here for reference.

-- edit --
Changed line 48 of strategery-infinitescroll.xml so the src attribute contains my subfolder. Not much of a fix, but works in the meantime.

[2012-10-22 12:03] #16 closed, assigned to nobody

[2012-11-12 15:34] #14 closed, assigned to damian-pastorini

[2012-12-07 00:47] robertsopenlehto opened #17 "Comparability with jQuery Image Hover"
Hi,

Firstly, thanks for the great plugin!

I’m having some problems getting this to work with another customisation I’ve used to get my images to change on mouse over.

Here is the blog guide I used to create this other customisation: http://blog.kineticpulse.co.uk/2011/02/create-smoother-mouseover-effect-on.html

Here is a link to my website where you can see the problem: http://www.fallow.com.a

[2012-12-07 12:16] #17 closed, assigned to nobody

[2012-12-11 02:38] robertsopenlehto opened #18 "Attempting to load from incorrect location: js.phtml"
Infinite Scroll is correctly working on first level categories, however not on subcategories.

For first level categories: http://www.fallow.com.au/men
The file is loaded from http://www.fallow.com.au/infinitescroll/js

For second level categories: http://www.fallow.com.au/men/tops
The file load is attempted from http://www.fallow.com.au/men/infinitescroll/js however no file is found

I managed to

[2012-12-11 10:26] tempo22 opened #19 "Not loading the extensions correctly"
Hi everyone,

i tryed to install this extensions on a magento site yesterday but i can't get it to work.

I'm using a custom template so i download the files from this repo, added them in the folder on my template, i installed the extension from magento connect too. The JS are loaded fine, the toolbar template is overwritten and hidden but the js.phtml dooesn't seem to be loaded.

i can't access m

[2012-12-14 10:58] #18 closed, assigned to nobody

[2012-12-14 11:00] #8 closed, assigned to damian-pastorini

[2012-12-14 11:01] #7 closed, assigned to damian-pastorini

[2012-12-14 11:01] #15 closed, assigned to damian-pastorini

[2012-12-22 16:46] DilinaNilakshana opened #20 "Issue working with custom layout"
Hi!

i have tried to implement this extention in mt home page. In my home page i just fetch all products by calling list template in magento. How could i implement this in my home page.? Any way i have just installed it.. but its not working. Please help me!!

[2013-01-18 17:34] sirdowan opened #22 "Template compatibility"
Hy!

Sorry for beeing a noob, but realy have no idea in jQuery... What am I supposed to look for to configure this extension to my template? It is working with the default template ofc...

I copied from the default templates folder the layout and the template folder to my tempalte folder. I am using a template called mobile shoppe.

I tried to edit the files according to some of the code I found o

[2013-01-22 13:56] jasonx86 opened #23 "not scrolling on magento 1.7.0.2"
i have installed the component, i think i configured it correctly but it doesn't scroll at all :(

can you help me?

[2013-02-06 04:43] mengqing opened #24 "memory function not working when Block cache is on"
Hi, we're using the latest version from the master branch, and we're trying out the memory feature. It worked quite well, only if the Block cache is turned off. If the Block cache is on, then it wouldn't load the page number from memory but from the cache instead.

Not sure if this h as been addressed or not.

Thanks

[2013-02-15 16:17] marlonmaxwel opened #25 "Fatal error: Call to a member function getIsAnchor()"
Hello,

My error after installing via Magento Connect (Magento 1.6.0.2).

Fatal error: Call to a member function getIsAnchor() on a non-object in /home/olhaocli/public_html/bijoux/app/code/community/Strategery/Infinitescroll2/Model/Catalog/Observer.php on line 174

Solution?

[2013-02-15 16:27] #20 closed, assigned to nobody

[2013-02-20 21:38] arkadyb opened #26 "Did not work"
Hi,

We tried to install it for few times, at the beginning it worked, but then once we tried to use full text search, whole shop stopped to work - basically empty page.

Few times after re-installation it worked to make it live, then once we play with settings, stop working again with same result - empty blank page.

Magento 1.7.0.2

Chrome error:

Uncaught TypeError: Cannot call method 'get' of

[2013-02-21 07:45] #19 closed, assigned to nobody

[2013-02-21 13:43] #26 closed, assigned to nobody

[2013-02-21 20:13] #25 closed, assigned to nicofff

[2013-02-22 09:06] arkadyb opened #27 "Semi automatic mode"
Hi,

Is there a way to modify this extansion to work in semi - automatic mode. I would like to have there some button saying to load another batch of products... once clicked, next page loaded.

[2013-02-22 09:45] gsomoza opened #28 "Memory Feature w/Block Cache"
Hi, we're using the latest version from the master branch, and we're trying out the memory feature. It worked quite well, only if the Block cache is turned off. If the Block cache is on, then it wouldn't load the page number from memory but from the cache instead.

[2013-02-22 09:46] #28 closed, assigned to nobody

[2013-02-27 09:45] #22 closed, assigned to nobody

[2013-03-04 08:35] #23 closed, assigned to nicofff

[2013-03-09 01:10] akplebani opened #29 "404 error, not getting JS file."
Hi, I have installed and used the InfiniteScroll in my custom store hosted in localhost, xampp. But when I transfered the store to a live host, the InifiteScroll stop working. I tried to uninstall and install again: no effect. The problem seems to be related to the fact that when the function is called, it doesn't find certain InfiniteScroll JS file.
You can take a look at the live version on www.

[2013-03-11 03:53] #29 closed, assigned to nobody

[2013-03-13 08:29] Lhari opened #30 "Applying infinitescroll to a custom page"
I'm having some issues applying infinite scroll to a custom page in Magento, everything gets loaded correctly, but the toolbar does not get hidden and the page doesn't scroll, I've tried quite a few things, but with no success. any suggestions for a solution?

[2013-03-22 16:32] gsomoza opened #32 "Search Page Doesn't Show All Products"
I got an email from a developer reporting that not all products are shown in the search page.

We need to:
1. Duplicate - to discard the possibility of this being a bug on the theme.
2. Identify if its a bug that belongs to our extension or to InfiniteScroll.
3. See where we go from there.

[2013-03-25 08:18] Lhari opened #33 "Extension conflict with no error"
Been playing around with infinite scrolling for a bit now, but I found it conflicting with the magento extension called

http://www.magentocommerce.com/magento-connect/magehouse-free-price-slider-9130.html

both extensions load correctly, but inf. scroll simply seems to not execute. I've tested in debug mode and looked through the xml files, and I cannot find a way to get inf scroller to execute w

[2013-03-25 08:21] #30 closed, assigned to nobody

[2013-04-05 13:21] ghost opened #35 "Extension Conflict (404 - "Error", "End")"
Hi all.

I'm having some problems to get this Extension to work. I'm using it on a Magento Multistore System (1.7.0.2). When I browse a category, InfiniteScroll seems to work but the extension doesn't load any new products. The loading block appears and then returns a "...you've reached the end of the internet" notification.

Following information are logged in my console:

GET http://www.mydomain

[2013-04-13 01:48] bleubeard opened #36 "Error # of Products in Magento Rows"
Hi!  So I installed the program-- I have a template (shopper). I wasn't sure where the special files were located, and whether or not I needed to move them from the default to my custom folder, or if they were already there. Usually, I have three items in a row: but after installing Infinite Scroll, the number will vary. Some rows only have one item, and the look is less clean. Here is what I mean

[2013-04-15 12:32] gsomoza opened #37 "2nd Page Load"
From Connect (PM from knospe):

The products with 1 page load, but when the 2nd page should be displayed, we get an error.

This is the content of Google Chrome Console window:
“determinePath”, Array[2]]
jquery.infinitescroll.js:182
["Binding", “bind"] jquery.infinitescroll.js:182
Port error: Could not establish connection. Receiving end does not exist. miscellaneous_bindings:236
["math:", 1450, 2

[2013-05-21 10:28] gptaankit opened #38 "JQuery library conflict"
Hi,

I tried installing infinitescroll2 on my local magento setup,

The current theme installed uses jquery library version 1.8.2, where as infinitescroll2 is using v 1.6.2. so when infinite scroll loads, it over writes the theme's jquery library and  theme functionality is breaking. Leaving out infinitescroll2's library load I am not able to use infinitescroll.

Is there a way that i can make the

[2013-05-21 11:33] #38 closed, assigned to nobody

[2013-06-10 05:56] basvdv opened #39 "doesnt load"
Hi,

The plugin doesn;t load new products:

example: http://caseclub.nl/iphone-4.html

the plugin has removed the pagination numbering, so something is working but not correct.

thanks

[2013-06-10 08:14] #39 closed, assigned to gsomoza

[2013-06-10 13:25] patricksteenks opened #40 "Uncaught TypeError: Cannot call method 'apply' of undefined"
I have enabled debug mode and get this error message. Very strange, because I have set all my selectors correctly.

The error occurs on line 737 of jquery.infinitescroll.js.

Where should I look for an answer?

[2013-06-17 19:44] patricksteenks opened #41 "Infinite scroll does not stop loading products"
The plugin is working fine except that it keeps on loading products, even if we have reached the last product.

Each time it loads 3 new products, but those are the same as the 3 ones before. It seems the plugin cannot find the endpoint?

For an example:
http://www.gearfactory.nl/nl/blackberry/cases

[2013-06-18 09:38] #41 closed, assigned to nobody

[2013-06-19 02:05] phlux0r opened #42 "Doesn't work with AheadWorks Ajax Cart Pro"
Unfortunately, this extension doesn't seem to be compatible with the Ajax Cart Pro extension from AheadWorks.
We've not yet managed to find a solution but my guess is that both extensions javascripts are hooking into some AJAX functionality that clashes...

[2013-07-04 01:21] atahan opened #43 "Not Working?"
Hi,

demo doesnt work?

Im using Firefox 21 and Chromium on Ubuntu 13.04.

Thanks

[2013-07-04 07:14] #43 closed, assigned to nicofff

[2013-07-22 11:23] cizgidekiadam opened #44 "Wrong block type in layout file"
Hi all,
i found an issue about advanced search.

Using version 1.7.0.2 and plugin version 2.1.8.
After enable plugin, it was not work for advanced search results. Wrong block name used on strategery-infinitescroll2.xml.

Changed <catalogsearch_advanced_index/> to <catalogsearch_advanced_result/> and now working fine :)

[2013-07-30 20:27] tonyoconnell opened #45 "License?"
Can you please tell me the license of this extension?

[2013-07-31 12:48] #45 closed, assigned to nobody

[2013-08-22 15:16] zigojacko opened #46 "jQuery Version"
Is there plans to make this compatible with a more recent version of jQuery such as 1.9.x +? It only seems to work with jQuery 1.6.x at present.

Thanks in advance.

[2013-08-26 13:10] #42 closed, assigned to nobody

[2013-08-26 13:11] #36 closed, assigned to nobody

[2013-08-26 13:12] #24 closed, assigned to nicofff

[2013-10-25 11:45] riker09 opened #48 "Collection cannot be converted to string"
When the caching feature is enabled this extension tries to save the loaded (product?) collection in the Magento cache. This results in an error when the collection class does not have a `__toString()` method:

[code]

The error is caused by the function  `Strategery_Infinitescroll2_Model_Catalog_Observer::_getCache`, lines 183 through 197.

While I agree that some caching can never hurt this litt

[2013-11-02 05:18] czxtm opened #49 "Line in Observer.php causing all products to be displayed"
When I load a category page, ALL of my products to get shown immediately, rather than just 15 which is what it's supposed to show (until I scroll down).

I noticed that if I remove the following line from Observer.php then it fixes it:

[code]

Why is this happening?

[2013-11-02 05:34] czxtm opened #50 "Won't load all pages, loading div shown multiple times"
Here's basically what happens:
- page is loaded
- i scroll down
- assuming there are 4 more pages with products, I'll see 4 "loading" messages.
- The next page loads, 1 message disappears.
- I scroll down again
- the next page loads, another message disappears.

After this point, I see no more pages, and the remaining loading messages stay there. I also see no javascript errors.

Here's the output

[2013-11-04 21:10] #50 closed, assigned to nobody

[2013-11-04 21:11] #49 closed, assigned to nobody

[2013-11-05 08:42] Bravehartk2 opened #51 "scrollCall never called"
First I want to thank you for this nice Extension. Ist really helpfull.
But I think I've found a little bug in the parameter regognition behavior.

The scrollCall parameter is not recognized by Mage, because the url for getting the next page looks like that:

http://www.someniceurl.com/where/p/3&scrollCall=1

but Mage need it this way for regognizing the param:

http://www.someniceurl.com/where/p/

[2013-11-07 19:48] gsomoza opened #52 "Multiple Stores Issues"
We need to re-check how the extension behaves with multiple stores because at least one person told me it wasn't working for them. Here's the email I got:

I am not the developer here, so what I’m about to say could not make sense to you :-)
This is what they did to fix my issue…

app/design/frontend/default/default/layout/strategery-infinitescroll2.xml has been adjusted:

[code]

(under <text>  n

[2013-11-19 22:49] NBusschers opened #54 "Can't get it to work"
Can't get it to work. It doesn't scroll, but it will hide the toolbar-bottom if I have that selected in the settings.

Have the same product grid, selectors etc as your demo has.

Copied the selectors from the settings of the demo admin, but it still won't work.

url/infinitescroll2/js is working

Could you please take a look?

www.golfstoreholland.nl

Thank you in advance.

[2013-11-20 13:12] #54 closed, assigned to nobody

[2013-11-29 07:56] enriquepiatti opened #56 "Add go to top button"

[2013-11-29 07:57] enriquepiatti opened #57 "Faster Memory system"
Check improvements on the memory system, when the page number is high

[2013-11-29 08:00] enriquepiatti opened #58 "Show Pagination (optionally)"
Add config option to show pagination too (maybe for jumping directly to some other page)

[2013-12-09 14:16] chibi777 opened #62 "Continuous load"
Hello,

Very nice and useful plugin but I have a problem with it.

When all products are loaded it still tries to load more and generates more pages than the category has.

Also it never displayed the message for the end.

I have read a comment here describing a similar situation but could not replicate the fix.

It runs on a custom template but I have tried with the default magento template as we

[2013-12-09 15:42] #62 closed, assigned to nobody

[2013-12-09 23:27] #51 closed, assigned to nobody

[2013-12-09 23:28] #48 closed, assigned to enriquepiatti

[2013-12-09 23:30] #46 closed, assigned to nicofff

[2013-12-09 23:31] #44 closed, assigned to nobody

[2013-12-10 00:23] #40 closed, assigned to nobody

[2013-12-10 00:24] #37 closed, assigned to nobody

[2013-12-10 00:30] #32 closed, assigned to nobody

[2013-12-10 10:03] #33 closed, assigned to nobody

[2013-12-10 13:10] #27 closed, assigned to gsomoza

[2013-12-18 11:45] patricksteenks opened #63 "Loading the same products continuously"
I have installed the plugin through Magento Connect and everything is working ok. However, when new products are loaded on a page, it keeps on loading the same two products.

See for an example: http://www.slankenlijn.nl/onder-begeleiding. On scroll it keeps onloading the same two products.

If I go to the last page it is working correctly.

[2013-12-18 16:18] #63 closed, assigned to nobody

[2013-12-26 10:54] gsomoza opened #64 "Issue with History & Hash URLs"
When we scroll the page the url changes from http://eadd.in/index.php/women/women-clothing.html to http://eadd.in/index.php/women/women-clothing.html#/page/1 or http://eadd.in/index.php/women/women-clothing.html#/page/2 etc.. Right!.

Now, when I reload the same page the error page comes & the url becomes like this http://eadd.in/index.php/women/women-clothing.html/page/2  here in the url # goes &

[2013-12-27 08:33] #64 closed, assigned to enriquepiatti

[2014-01-28 11:15] ibrahimbm opened #65 "Facing issue when the 2nd page loaded"
Hello Friend,

I am facing some issue on the second page loaded. there is a option of add to cart which will show on first the page loaded but its not showing on mouseover when the second page is loading.., Please help your help is much appreciated..

Very urgent :(

Regards
IBM

[2014-01-28 14:29] #65 closed, assigned to nobody

[2014-02-07 23:33] s2g opened #66 "Crashing after some pages"
We are getting a js error after scrolling some pages (~10) and it kill the browser.
![Uploading image.png . . .]()

[2014-03-07 07:47] matthewdolman opened #67 "How do I access the on method?"
http://infiniteajaxscroll.com/docs/methods.html

At this page it indicates that there is an on method that can access the events.  I want to create a callback for the loaded event but I cant see anywhere in the docs how to do that.

[2014-03-07 11:06] #67 closed, assigned to nobody

[2014-03-21 11:08] kiransoni opened #69 "its not working in my custom theme"
hi i install but its not working ans also page number and next button is hide,i used custom theme. my store url is www.kjpl.com

[2014-03-24 11:45] #69 closed, assigned to nobody

[2014-03-30 02:30] tvanhuis opened #70 "Not working on 1.7.0.2"
Hello,

This extension is hiding my toolbar, but not working as advertised...all of my products are being loaded, rather than a page at a time.  I can see the jquery function loading on the page, but it's loading all the products rather than 1 page at a time.  I followed the directions on (https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Installation-under-a-different-package---theme)

[2014-04-03 02:38] jpmarin opened #71 "Not working with custom theme"
Hi I included the extension in www.frommuranowithlove.com but could not make it work

I did copy all files in app/design to my theme folder
from
app/design/frontend/default/default/template
to
app/design/frontend/ultimo/default/template

and, just in case, file in skin/frontend to my theme folder also
from
skin/frontend/base/default/
to
skin/frontned/ultimo/default/

I read all the article in the

[2014-04-04 14:55] #70 closed, assigned to nobody

[2014-05-26 10:31] #35 closed, assigned to damian-pastorini

[2014-05-28 15:10] uncenteredDiv opened #72 "Error 500"
I installed the Extension on my custom Theme ...
Anything works fine - I see the loadingbar, the toolbar is hidden ...

But when ich click the "load more items" button nothing happens.

The Chrome Console gives me the following error:

GET http://xxx/parfum/frauenduefte?p=2 500 (Internal Server Error) jquery.js:8724
send jquery.js:8724
x.extend.ajax jquery.js:8154
x.(anonymous function) jquery.js:

[2014-07-16 07:27] #72 closed, assigned to nobody

[2014-07-16 07:27] #66 closed, assigned to nobody

[2014-08-01 10:57] skidrow91 opened #73 "Loading same page continuously"
I'm using plugin and have a problem, that is after first loading, second loading get correct products in category, and third loading, it should loading page 3 but it loading again page 2.
Is it bug of plugin or i config not correct?

Link: http://demo.usestrategery.com/infinite-scroll/electronics/all-products.html

[2014-08-04 22:57] davirs opened #74 "how to load products without click at the "show more" button?"
hi... this is the best infinite scroll module... I have a simple question that I not found here...
How I show the products without click at show more button?
I need that infinite scroll show more products when I scroll down the page...

like this example:
www.decoralista.com.br/casa-e-decoracao.html

Can you answer my question?

[2014-08-05 13:30] #74 closed, assigned to nobody

[2014-08-11 07:03] dritan1991 opened #75 "magento"
I have installed strategery in my magento platform with customized theme, and when I scroll down it loads the same products twice. Anyone have any idea why? I have tried in another server with original magento and it works fine. I would appreciate your help. thanks

[2014-09-19 15:04] davirs opened #78 "loading next products pages breaks the CSS.."
Hi.. I need only one information...
The infinite scroll works fine, but when I put the page down to load more products, the CSS not load correctly...
can you see my store to analyse if I make something wrong?
Compare first products with new loaded products.

http://goo.gl/Vnd5wu

[2014-09-29 10:59] bradleybell opened #79 "Implementing with Masonry plugin"
Hi,

I'm trying to use infinite scroll with a Wordpress plugin for Magento. I'm trying to display the posts in a Masonry layout, but when infinite scroll loads new posts they are not within the Masonry grid.
I have read the documentation for implementing Masonry with Infintescroll, but the implementation is somewhat different for the Magento plugin I'm sure.

I basically need Infinite scroll to ta

[2014-09-29 23:45] tannercox opened #80 "Products not loading correctly on queldorei Shopper theme"
Installed on my site, and copied code into theme folder.  When reaching bottom of page, only loads a single product repeatedly.  Please let me know how to fix this.  http://dev.handbagheaven.com/style/tote-bags.html

[2014-10-02 14:23] intheshallow opened #81 "Problem in List Mode"
I have noticed that if you go from Grid Mode to List Mode, it will work just fine. But once you keep it on List Mode and go to another page, it will stop working.

[2014-10-08 14:47] #78 closed, assigned to nobody

[2014-10-08 14:47] #75 closed, assigned to nobody

[2014-10-29 20:53] #81 closed, assigned to damian-pastorini

[2014-10-30 10:38] KoenWijnstok opened #83 "Not working in Internet Explorer in my site..."
Hi,

Really nice module for Magento, except it's not working in Internet Explorer in my site.
I see the "loading more products" line, but when it's gone nothing is happening.
The rest of the browsers (Webkit, Gecko) are working perfectly.

I've got a test site which has the module currently enabled and a category which has 8 pages:
http://staging.afvallenmetbregje.nl/koolhydraatarm.html

I can't f

[2014-10-30 12:57] #83 closed, assigned to nobody

[2014-11-04 11:07] cybricks opened #84 "Not working with theme"
Tried a few ways but just doesnt seem to work.

Please help !

[2014-11-04 18:51] siddharth-vaghasia opened #85 "Syntax Error with custom theme"
Hi, I am getting below error after integrating with custom theme

Page is loading correctly intialilng, when I scroll down page url changes to
http://localhost/mysite/index.php/mens/jeans.html?p=2
after sometime front end says ' Loading the next set of posts...'
but give below javascript error

ERROR DETAILS.....it is long string like html....
Uncaught Error: Syntax error, unrecognized expression:

[2014-11-06 10:49] #85 closed, assigned to nobody

[2014-11-07 10:26] remiebeling opened #86 "module duplicates <head>"
When i have your extension enabled everything is working fine,
but the header gets duplicated.

i.E. the meta description, meta robots, favicon link and shortcut icon tag get duplicated.

i also get 2 title tags. The first contains the correct title from the current category.
The Second title tag contains the default meta title form backend configuration

[2014-11-08 09:28] #86 closed, assigned to nobody

[2014-11-21 16:54] mayurchallani opened #87 "Error with Layered Navigation SEO"
Hi,

When I integrate Magento-InfiniteScroll with custom theme it seems to work okay
But When I integrate it with http://www.magentocommerce.com/magento-connect/layered-navigation-seo.html, the UI gets completely messed up and functionality of both the extensions is affected greatly

Im using magento version 1.7.0.1 and any help in solving the issue would be much appreciated

Thanks

[2014-11-24 09:08] #84 closed, assigned to nobody

[2014-11-24 09:09] #80 closed, assigned to nobody

[2014-11-24 09:09] #79 closed, assigned to nobody

[2014-11-25 06:30] prateeik opened #88 "Got 404 error"
While trying to implement infinite scroll there is 404 error in admin for infinite Scroll.

[2014-11-25 09:39] #88 closed, assigned to nobody

[2014-12-19 05:26] vinitchopra opened #89 "Not working with my theme"
I am using rwd theme in magento 1.9.0.1 but the extension is not working at all. Neither its produce any error nor its working. I have move the files into my theme but still its not working.

Kindly help me out here.

[2014-12-26 12:34] #89 closed, assigned to nobody

[2014-12-26 12:51] vinitchopra opened #90 "Scrolling is not working perfectly"
I found a bug that in this extension. When you scroll all product and then if you apply any navigation filter like Price, color etc. then the extension is not working at all.

Could you please investigate the issue and help me out to fix this issue.

[2015-01-14 17:57] vladeight opened #92 "Problem js"
Error: Syntax error, unrecognized expression: {"status":"SUCCESS","viewpanel":"<div class=\"block block-layered-nav\">\n ...
What seams to be the problem? Ive try to change the js from my custom theme but the problem persiste.Can you give me some directions ?
I think what I see that ajax call the right column were in my case is the future products ,shop by ... .
This is the html response :
{"statu

[2015-01-15 14:38] gabrielsomoza commented on #92
We don't return that kind of output in our extension, so this definitely doesn't look like a problem on our end..

You probably have some other extension that's changing the output of AJAX requests made to the server. Maybe AjaxCartPro or something like that - they're known to be problematic and poorly architected.

If you need commercial help integrating our extension or fixing this other extensi

[2015-01-15 14:38] #92 closed

[2015-01-27 11:52] r-martins commented on #52
I guess the Block/Config.php is missing.
I'm experiencing the same problems on multiple store scenario. It loads the ajax but nothing happends.
No js error or anything. Magento 1.8.1 with 1 website, 3 Stores within 1 store view in each store.

![vspgu2nr3h](https://cloud.githubusercontent.com/assets/191149/5917959/060ef0fa-a60a-11e4-8ad0-0449906695b5.gif)

[2015-01-30 09:21] gabrielsomoza commented on #90
@damian-pastorini could you verify if this is a bug?

[2015-01-30 09:22] gabrielsomoza commented on #87
Closing due to inactivity.

[2015-01-30 09:22] #87 closed

[2015-01-30 09:24] gabrielsomoza commented on #73
Looks like we had a bug in our demo rather than the plugin. This doesn't seem to be a problem when the extension is correctly configured in Magento's demo store. Take a look at the updated demo: http://demo.usestrategery.com/infinite-scroll/infinitescroll.html

[2015-01-30 09:24] #73 closed

[2015-01-30 09:26] gabrielsomoza commented on #52
@nicofff when you get a chance could you check if this is still an issue with the latest IS version?

[2015-01-30 09:27] gabrielsomoza commented on #56
Not a bad idea but since its not essential to the core functionality I would be inclined to leave this to each implementation.

[2015-01-30 09:27] #56 closed

[2015-01-30 09:27] gabrielsomoza commented on #57
Since we moved to IAS I don't think this is an issue anymore. We can re-open later if necessary.

[2015-01-30 09:27] #57 closed

[2015-01-30 09:28] gabrielsomoza commented on #58
Nobody has asked for this feature yet. Closing until this comes up again.

[2015-01-30 09:28] #58 closed

[2015-01-30 14:01] damian-pastorini commented on #90
I recently did a test and it works fine with the default RWD theme.
I open a category, scrolled to the end, applied a filter (price in my case), and the scroll keep working normally.

@vinitchopra , do you have a link were we could take a look on the issue? Do you have a custom theme or 3rd party layer navigation extension implemented?

[2015-02-09 20:23] rsnare opened #93 "Cannot scroll up when History is enabled"
The Enable History feature attaches a page number to the end of the URL as the user scrolls down the product list. This makes it so that, when the user clicks to view a product and then hit their back button, they are returned to the same page of the product list. However, the problem is that they are then not able to view any of the pages that come before that page. For example, if they click on

[2015-02-09 20:36] gabrielsomoza commented on #93
This is more of an architectural issue, to address it we'd have to change a lot of things in Magento and in our extension.

Automatically scrolling "up" is also not a real possibility because browser windows most times appear at the top - it would just trigger and make a mess of the user experience.

[2015-02-09 20:42] gabrielsomoza commented on #93
Also, even that suggestion would get very complicated, very quickly, if you have a proxy-cache (e.g. Varnish) or if you're doing FPC with EE. In other words there are so many ramifications to doing something like this that it officially escapes the purposes of this simple extension.

[2015-02-09 20:42] #93 closed

[2015-02-09 20:44] gabrielsomoza commented on #93
Having said that: if you're willing to contribute a PR that solves this problem elegantly you're more than welcome! It would be very interesting if we could find a simple solution to this problem.

[2015-02-09 21:09] rsnare commented on #93
Thanks for the quick response, Gabriel. Making any modifications to the code is beyond my technical knowledge, so I will just disable the history and use the extension without the page numbers. That seems to be the best available option for my store and my customers. Thanks again!

[2015-02-26 20:19] intheshallow opened #94 "Not working with another module"
I know this is more then likely my problem, but I was just curious to see if you could possibly look into pointing me in the right direction coding wise to get Infinite Scroll to work above the Improved Navigation module? Right now, the Infinite Scroll works for the first time you go to a product list page. But when you use the Improved Navigation on the left, it will revert the search back to the

[2015-02-26 21:58] intheshallow commented on #94
It has something to do with the ajax side search that they have implemented.

[2015-02-27 10:00] gabrielsomoza commented on #94
Try to see if this helps - there's a good chance its at least related to it: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page

[2015-02-27 15:03] intheshallow commented on #94
Hello,

I see there is an ias_config that I can place options in. I don't know a
whole lot in JavaScript, so I'm not sure what exactly I should place in to
get this to possibly work. At least with the situation I currently I have.
I did notice that you pointed me to this line of code:

this.listeners = { next: new IASCallbacks(), load: new IASCallbacks(),
loaded: new IASCallbacks(), render: new IA

[2015-02-27 17:35] antoniocarboni commented on #90
i verify the problem only when the browser's cache is active

[2015-03-02 09:03] gabrielsomoza commented on #94
You shouldn't modify that file directly - what you can see there is a list of the events that IAS throws during the scrolling life-cycle. E.g. next, load, loaded, render, etc.

You'd have to hook into those events by providing a callback when IAS is initialised (this is done in your page) and on your listener you'll have to "decorate" the incoming new elements/products with whatever thing the othe

[2015-03-02 09:03] gabrielsomoza commented on #94
Closing because this is an integration issue and not a bug with our extension.

[2015-03-02 09:03] #94 closed

[2015-03-07 23:36] jmmeijer commented on #52
I experience the exact same problem on a multistore installation of Magento 1.9.0.1. I am using a custom theme, but also tested on the default theme. The AJAX request get send, the items get returned, however they ar enot put in the DOM. I also tested version 2.0 of AIS. same results.

[2015-03-09 09:55] gabrielsomoza commented on #52
@damian-pastorini let's look into this asap.

[2015-03-09 10:05] jmmeijer commented on #52
Thanks, it seems the image urls json response gets misinterpreted somehow. Do the images get loaded before the result is put in the DOM?

[2015-03-09 11:29] damian-pastorini commented on #52
I recently tested the issue with different configurations in a Magento 1.9.1.
Test 1: 1 website, 1 store, 3 views, using default rwd theme for the 3 views.
Test 2: 1 website, 3 stores, 1 view each, rwd package for the 3 views.
Test 3: 1 website, 3 stores, 1 view each, 2 views with rwd package and 1 view with the default package.
In the 3 tests the infinitescroll works fine.

@r-martins , there's n

[2015-03-11 11:08] jmmeijer commented on #52
I checked the selectors, which all seem to be correct (defaults)

    <div class="toolbar">
        <div class="pager">
    ...
            <ol>
    ...
                <li>
                    <a class="next i-next fa fa-caret-right" href="http://beddentotaal.nl/bedtextiel/dekbedovertrekken/mooie-dekbedovertrekken/?p=2" title="Volgende">
                    </a>
                </li>

[2015-03-19 18:11] mattyl opened #95 "not working with 1.9.1 configurable swatches - image change"
trying to work out how to initialise the swatches on render

this is the js code necessary and is generated

<script type="text/javascript">
    jQuery(document).on('product-media-loaded', function() {
        ConfigurableMediaImages.init('<?php echo $this->getImageType(); ?>');
        <?php foreach ($this->getProductImageFallbacks() as $imageFallback): ?>
        ConfigurableMediaImages.setImage

[2015-03-19 18:12] mattyl commented on #95
so remove script tags here is js code
 jQuery(document).on('product-media-loaded', function() {
        ConfigurableMediaImages.init('<?php echo $this->getImageType(); ?>');
        <?php foreach ($this->getProductImageFallbacks() as $imageFallback): ?>
        ConfigurableMediaImages.setImageFallback(<?php echo $imageFallback['product']->getId(); ?>, $j.parseJSON('<?php echo $imageFallback['image

[2015-03-19 18:48] mattyl commented on #95
heres a test url
http://azuni.smbsolutionsuk.net/collections/athena?p=8
the three stone bangless works as expected
scroll up - the window cut stone necklace doesnt

[2015-03-20 09:18] gabrielsomoza commented on #95
@damian-pastorini could you take a look at this when you get the chance?

[2015-03-20 11:57] damian-pastorini commented on #95
Confirmed there's an issue in the extension: the swatches don't change the image when the product is loaded by the InfiniteScroll.

@mattyl thanks for report the issue, I will work on it as soon I can but if you found a fix before that please feel free to modify the extension files and create a PR so we could include it in the project. Thanks again!

[2015-03-20 12:48] mattyl commented on #95
Ok if i solve it will let you know!

[2015-04-04 14:33] ranvirrai1987 opened #96 "https & scrolling issue"
Hi there,

Not a developer myself but thought i'd put this issue out there for it to be looked into.

There seems to be an issue when using https on infinite scroll pages. What happens is that the next page doesn't load. I've singled this out to the Magento pagination which uses http for the next pages (on https page). This causes a mixed content issue, please see here: https://developer.mozilla.o

[2015-04-04 15:02] ranvirrai1987 commented on #96
Just to add,

This issue is only likely to occur when:

1. You go to a https page such as 'my account' or 'cart' and then use search which would take you through the https handle

or

2. If you plan to use the https handle for all pages or google picks up the https handle which redirects people to https pages.

Thanks,

Ranvir

[2015-04-10 10:33] franfuster opened #97 "All urls show /page/2"
I have installed Strategery InfiniteScroll in a magento 1.7.
When I load a page, It changes automatically my URL from "<base_url>/category" to "<base_url>category/page/2" and only shows products from page1. I go bottom page but not refresh.
I have copied the files in my theme and don't works.
any solution?
thanks

[2015-04-10 11:04] gabrielsomoza commented on #97
Do you have an online version of your site where we can duplicate the issue and see what's wrong?

[2015-04-10 11:15] franfuster commented on #97
Yes, my website is http://www.zastor.com and if you enter in a category, you can view the issue
e.g. http://www.zastor.com/silbatos/

[2015-04-10 15:12] Sebazz opened #98 "Second page deleting hash"
Hello, i have some problems with yours plugin it works fine but one thing is going wrong. Look at this site: https://antidotestreet.com/picknmix.html

While i scroll down, script will lodaded page 2 (https://antidotestreet.com/picknmix.html#/page/2), now if i click on product, and come back <-, i got 404 error :( becaouse from url was deleted hash(#, https://antidotestreet.com/picknmix.html/page/2

[2015-04-10 15:22] gabrielsomoza commented on #98
Looks like you have some plugin that removes the hashtag part of the URL in order to request it to the server. That seems to be causing this issue. For example if you manually go to https://antidotestreet.com/picknmix.html#/page/2 it will convert it to https://antidotestreet.com/picknmix.html/page/2

A possible workaround would be to limit that plugin's functionality by parsing the hashtag and con

[2015-04-10 15:22] #98 closed

[2015-04-10 15:37] Sebazz commented on #98
Okay i found script jquery.ba-hashchange.min.js i deleted it, now hash didn't deleted but inifinity scrolling doesn't wok :(

[2015-04-10 16:01] gabrielsomoza commented on #98
Is that change already here https://antidotestreet.com/picknmix.html#/page/2 ? cause I'm still getting the hash change thing.

[2015-04-10 16:03] Sebazz commented on #98
Look now, i try to change some lines in script, w/o any effects..

[2015-04-10 16:21] Sebazz commented on #98
I don't know what the hell is going on, now hash is still deleting, infinity scroll didn't wok ..

[2015-04-10 16:46] gabrielsomoza commented on #98
Then the hash is either being deleted by some other script, or the script you wanted to remove wasn't really removed yet (most probable). I actually do see jquery.ba-hashchange.min.js still showing up in the page's source code.

[2015-04-13 10:27] gabrielsomoza commented on #97
Looks like there might be a conflict with one of your other extensions. We'll take a deeper look to confirm as soon as possible. @damian-pastorini could you do this when you get a chance?

[2015-04-13 11:59] damian-pastorini commented on #97
@franfuster , you have two instances of jQuery at the same time that could be causing the issues.
jQuery v1.8.3 and v1.10.2.
Also since the scroll is not loading the next page I will recommend you to check the selectors and enable the InfiniteScroll debug mode, that should will give you an idea on where the error could be.

[2015-04-14 16:44] franfuster commented on #97
Thanks @damian-pastorini,
I disabled the other instance of jquery and check the selectors and the result is the same.
The InfiniteScroll debug mode don't works in frontend.
I disabled "Scroll History" in admin and then dissapear /page/2 from url, but not showing more products when i scroll down in any category or search page.
What can i do?
thanks again,

[2015-04-15 02:36] b-d-m-p commented on #97
I am having the same exact issue. Since my theme has jQuery, I did not enable jQuery in the settings, but I am still getting the issue even with it not enabled.

[2015-04-15 07:09] b-d-m-p commented on #97
Yes, I can confirm that if the extension is not enabled that the page/2 error goes away.

My theme has jQuery so I chose to not enable jQuery in the extension settings, but this page/2 error is there even if the the extension jQuery is disabled. So, I went looking and I found this:

    	jQuery.getScript("http://localhost:8888/js/jquery/infinitescroll/jquery-ias.min.js", function() {
					jQuery(f

[2015-04-15 08:35] b-d-m-p commented on #97
So, removing that `.getScript("http://localhost:8888/js/jquery/infinitescroll/jquery-ias.min.js"` makes the page/2 error go away, but the extension is still not functioning. I'm not sure if this is due to my theme or some bug in the extension. I'd appreciate any ideas you have. Thanks.

[2015-04-15 08:46] franfuster commented on #97
Hi @b-d-m-p,
I have tried all you say and the page/2 error go away, but the extension don't works. Same result.
:-(
@damian-pastorini, any solution?
thanks

[2015-04-15 11:09] damian-pastorini commented on #97
hi @franfuster , my comments about this:
- Checking your theme I found that you have a lot of elements with the container class, if you run jQuery('.category-products') in the console after the page is loaded you will see that there are a lot of hiden blocks with that class. My first recommendation is to use selector that points only to the correct container block, for example you can use jQuery('

[2015-04-15 16:59] franfuster commented on #97
Thank You!!! @damian-pastorini
I change the selector to that container block jQuery('.category-products:last'). And then I scroll down and it's show more and more products!! All ok.

[2015-04-16 03:08] b-d-m-p commented on #97
For me, it was switching local mode to "yes" that fixed the problem.

[2015-04-16 08:14] gabrielsomoza commented on #97
Alright! Glad this was fixed, thanks to everyone that contributed. @damian-pastorini try to see if we can convert this into a Wiki page for the Troubleshooting / Common Issues section.

[2015-04-24 08:34] BadBuLLL opened #99 "conflict with search autocomplete"

[2015-04-28 07:28] #99 closed

[2015-04-29 17:11] gabrielsomoza commented on #99
Were you able to find what the problem was? If so we would appreciate it if
you could share the solution!

[2015-04-30 07:37] BadBuLLL commented on #99
All I had to do is turn off jquery and it worked. Search autocomplete is now working 100%.
There is one strange thing though: if I turn on history and I click item on i.e. page 6, then click Back, it will now only show items from page 6, not item from page 1-6 as it was before I clicked back. Since Infinity scroll removed page numbers, customer can only go to page 7, 8,... but not on page 5,4,...?

[2015-05-04 09:27] janmyszkier commented on #52
@jmmeijer i just tested this on few different themes I own (and few different magento multistore configs), and I also didn't experience the issue.
Mind sharing your page or theme with us, that it doesn't work on?

[2015-05-04 10:40] janmyszkier commented on #96
@ranvirrai1987 this is confirmed ,the problem relies in history.replaceState used in infiniteajaxscroll library being used, I'll contact the developer to provide the fix, as I guess more people using it have this problem.

[2015-05-04 10:54] ranvirrai1987 commented on #96
Hi Janmyszkier,

That would be good, thank you. It would certainly help users of Infinite Scroll, especially if they intend to run everything through https as a means to use the new chrome browser notifications. Will bring the Magento user closer to that goal.

Thanks,

Ranvir

[2015-05-04 11:24] janmyszkier commented on #96
try this fork:
https://github.com/janmyszkier/Magento-InfiniteScroll/tree/protocol_fix
and let me know if it works for you too, will issue pull request then

[2015-05-04 17:59] gabrielsomoza commented on #99
That's a limitation of infinite scrolling in general: it wouldn't be practical to load all pages from 1 to X because it would consume tons of resources (e.g. imagine 100 pages at once) and would make this plugin more complicated by several orders of magnitude.

There was another issue (closed) where we discussed this in more detail, including the idea of loading previous pages by scrolling "upward

[2015-05-04 23:09] ranvirrai1987 commented on #96
Thanks for the fork. I will have to get my web developer to test this out for me but I will let you know as soon as possible.

Thanks,

Ranvir

[2015-05-06 09:46] BadBuLLL commented on #99
Thank you for explanation, things are more clear now. I do miss back to top option at the end of catalog. Other than that, extension is working very good!
BR
Samo
      From: Gabriel Somoza <notifications@github.com>
 To: Strategery-Inc/Magento-InfiniteScroll <Magento-InfiniteScroll@noreply.github.com>
Cc: BadBuLLL <x2hq@yahoo.com>
 Sent: Monday, May 4, 2015 7:59 PM
 Subject: Re: [Magento-Infinite

[2015-05-15 01:50] keithbmcd opened #100 "show more button url"
Hi,

We have a problem with the url of show more button. The site url will be changed from xxx to xxx.html?p=2

May I know how can we update / remove the .html ?

our url - http://www.southernature.com.au/products (working)

http://www.southernature.com.au/products/halal-certified (not working)

thanks!!

Keith

[2015-05-22 16:25] the-wanted opened #101 "Not work with magento 1.9.0.1"
Hello,
i installed the extension in my magento 1.9.0.1 www.ladebora.it but the extension not work. when i go in a category i see the loading but not loading the items.
Can I resolve?
Best Regards

[2015-05-22 16:27] janmyszkier commented on #101
Hello the-wanted, can you please give us some idea about your error?
Maybe a url where you host your site?

[2015-05-22 16:29] janmyszkier commented on #101
Hello the-wanted, can you please post the url to the category you see the error on?

[2015-05-22 16:37] the-wanted commented on #101
Hello @janmyszkier this is the error

[2015-05-22 16:46] janmyszkier commented on #101
@the-wanted
I don't see any request to next/prev page on your page which means the most important part is missing.
Please:
a)
go to Admin -> System -> Cache Management -> Flush Cache Storage
and if the extension still won't work try:
b) Switch for a moment to base theme and confirm the extension has been installed correctly and work there (on rwd package)
Switching packages can be done on
Admin ->

[2015-05-22 16:58] the-wanted commented on #101
@janmyszkier
1) i flushed the cache
2) i switched to base theme but the extension does not work

[2015-05-22 17:12] janmyszkier commented on #101
@the-wanted : now that I look at it you are redirected to checkout/cart if you scroll down, and when I look into your code you indeed have .next link to checkout cart:
[code]
please try to change its class first and then check again

[2015-05-22 17:25] the-wanted commented on #101
@janmyszkier in which file this issue is?

[2015-05-22 17:29] janmyszkier commented on #101
@the-wanted: unfortunately I'm not sure, you have to search for yourself

just search your theme files for "viewcart_button" within the theme folder (app/design/frontend/default/galarainbow) and you'll surely find the file that you're looking for

[2015-05-22 17:57] the-wanted commented on #101
@janmyszkier thanks i fix my issue

[2015-05-22 17:57] #101 closed

[2015-05-22 18:25] janmyszkier commented on #96
@ranvirrai1987 : any news from the developer?

[2015-05-28 06:48] ranvirrai1987 commented on #96
Hi @janmyszkier. Sorry for the late reply, I haven't had time to test this with the developer yet as I have been focused on the running of my store. I will try have this looked into sometime soon, but I will be in contact to let you know.

[2015-05-28 14:34] gabrielsomoza commented on #96
@damian-pastorini could you check @janmyszkier 's fork, make sure everything works well, and if so release a new version of the extension with the fix?

[2015-05-29 07:49] rahulsode commented on #85
@siddharth-vaghasia Hi, I am getting the same error, I tried hard but couldn't solve, can you tell what was you solution??

[2015-05-29 08:48] gabrielsomoza commented on #85
The issue was probably related to a 3rd-party extension that incorrectly modifies Magento's response to AJAX requests. See this article for more guidance: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Nothing-Happens,-Although-the-%22Loading-Next-Page%22-Message-is-Visible

[2015-05-29 10:34] damian-pastorini commented on #96
@janmyszkier could you create a PR for this please? Thanks!

[2015-06-02 11:06] rahulsode commented on #35
Hi,
I had the same issue, needed to edit CategoryController.php and ResultController.php in Sm Shop by extension, after doing that my java-script error is gone, and when scroll down to bottom the page no. in the url is changed but the next content is not appended to the main list ...
Any Solutions or Idea, what could be the reason??

[2015-06-02 14:05] gabrielsomoza commented on #35
Does this help? https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Nothing-Happens,-Although-the-%22Loading-Next-Page%22-Message-is-Visible

[2015-06-04 10:09] rahulsode commented on #35
Got the solution!!!
turns out My theme Sm Love Fashion Provides me module called "Sm Shop by" which uses Ajax to filter the products collection according to the selected criteria, i don't know some how this was conflicting with  Magento-InfiniteScroll, once i removed that sm shopby module, everything works fine...
thanks for the help..

[2015-06-04 10:22] gabrielsomoza commented on #35
Yes, usually extensions like that one mess up with all AJAX requests made to Magento in a way that's very obtrusive and completely unnecessary.

[2015-06-09 17:53] stefkosmo opened #102 "Load type based on viewport"
Hey,

This is not an issue, but was wondering if it was possible to have load more button on desktop but automatic loading on phone and tablet?

thanks

[2015-06-10 07:27] #100 closed

[2015-06-10 10:50] gabrielsomoza commented on #102
Yes, its possible, but since that's outside the scope of our plugin I'm afraid you'll have to have a developer customise it. We have developers available if you're interested: contact (at) strateger (dot) io

[2015-06-10 19:16] stefkosmo commented on #102
Hey,

Thanks for your reply.

Here's an unrefined snippet to get this working:
<pre>
<code>
var viewport = function() {
      var w = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
      if (w < 767) {
            return 15;
      } else {
            return <?php echo (int) $helper->getConfigData('design/load_more_threshold') ?>
      }
}
</code>
</pre>

And then change:

[2015-06-10 19:20] #102 closed

[2015-06-11 08:19] gabrielsomoza commented on #102
Thanks for helping build our documentation with this snippet!

[2015-06-22 09:27] RDXSportsCom commented on #95
Can anyone tell me if you fix it, i am using it with Magento Enterprise Edition, but not swatches not working... ?

[2015-06-22 09:29] janmyszkier commented on #95
let me check on this, will be back with details in few hours max

[2015-06-22 09:46] RDXSportsCom commented on #95
sure, i am waiting for your feedback.

[2015-06-22 12:15] janmyszkier commented on #95
@mattyl, @RDXSportsCom:
posting a workaround for those who has to have it at all cost "NOW", but I highly advise waiting for official fix:

in app/design/frontend/rwd/default/template/catalog/product/list.phtml, line 169, just above
[code]

Add following lines
[code]

make note however, this adds more than it should, I'm working on refactoring this this now when I have it working

[2015-06-22 14:35] RDXSportsCom commented on #95
:) thanx for fixing my issue :+1: its working fine for me in Magento Enterprise Edition, for now i use with your fixed code, but i will replace extension as soon as you officially release it.

[2015-06-25 07:05] devangithakore opened #103 "Extension not load more products of second page in magento 1.9.1"
Hi,
I am using theme sns_tornto with magento. after installing this extension it shows loading circle but not load products of second page its shows me console error as below.
Error: Syntax error, unrecognized expression: {"status":"SUCCESS","viewpanel":"<div class=\"block block-layered-nav\">\n    <div class=\"block-title\">\n        <span>Shop By<\/span>\n    <\/div>\n    <div class=\"block-cont

[2015-06-25 07:32] janmyszkier commented on #103
@devangithakore : can you please give us the URL you have it on?

[2015-06-25 07:38] devangithakore commented on #103
hi,
I am on mine local server.so Cant give you url.

Thanks.
Devangi.

On 6/25/2015 1:02 PM, janmyszkier wrote:

[2015-06-25 07:57] janmyszkier commented on #103
is there a way we can set up a chrome remote desktop session for me to have a look? or can you send the theme files to us for debug?

[2015-06-25 08:17] gabrielsomoza commented on #103
There's absolutely no way our extension can be generating that kind of response.

What you're experiencing is almost certainly this issue: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Nothing-Happens,-Although-the-%22Loading-Next-Page%22-Message-is-Visible

I recommend you identify the extension that's aggressively modifying AJAX responses and disable it. We can re-open this ticke

[2015-06-25 08:17] #103 closed

[2015-06-25 08:29] devangithakore commented on #103
Hi,
     Can you help to if i will give you remote access to you on
teamviewer10.

Thanks,
Devangi.

On 6/25/2015 1:27 PM, janmyszkier wrote:

[2015-06-25 08:33] gabrielsomoza commented on #103
Hi @devangithakore,

Since this is a free extension we can't provide free support for issues that are not caused by our extension. I'm afraid that includes remote assistance. If you'd like to hire one of our developers for an hour or two in order to help you fix this issue please email us at: contact (at) strategery (dot) io

Sorry I had to jump in last-moment to say this, but Jan is a new additio

[2015-06-25 08:42] devangithakore commented on #103
Hi,
ok.Can you just tell me is it working for magento1.9.1?it would be great
help for me if you can say.
Thanks,
Devangi.

On 6/25/2015 2:03 PM, Gabriel Somoza wrote:

[2015-06-25 08:52] gabrielsomoza commented on #103
Hi Devangi,

Yes, our extension has been confirmed to work with Magento 1.9.1 in dozens of other stores.

All best,
Gabriel

[2015-06-27 09:27] chandrumcd opened #104 "TypeError: jQuery(...).autocomplete is not a function"
I'm getting the error mentioned after installing the infinite scroll.

Please help me sort this out :(

Thanks in advance for your help!!!
![infinite scroll](https://cloud.githubusercontent.com/assets/10278284/8391323/caf0427c-1cdc-11e5-9520-6ab3269fd33b.PNG)

[2015-06-27 10:29] janmyszkier commented on #104
@chandrumcd: infinite scroll doesn't use autocomplete so this is probably bad implementation of the other feature implemented - the one that makes use of autocomplete. possibly wrong usage of jquery inclusion or noconflict usage.
Also make sure you give the url the problem exists on. We cannot understand the issue (not to mention analyze/debug) from a jpg file.

If you'd like to hire one of our de

[2015-06-30 20:20] viniciusrtf commented on #97
I could fix this in another way, but I'm still quite confused with this issue. Maybe we should reopen this, but you guys tell me.

First I had the issue in a custom theme on Magento EE 1.14.2. None of the aforementioned solutions worked for me.

Then I reproduced the issue in a test environment:
1- Installed pure Magento 1.9.1.1 + latest Data Sample.
2- Installed Strategy_InfiniteScroll (only exte

[2015-06-30 21:23] damian-pastorini commented on #97
@janmyszkier when you have some time could you take a look on this please?
If we need please apply any fix and just let me know as soon it's done so I could re-package and upload the extension version.
Thanks!

[2015-06-30 23:30] janmyszkier commented on #97
@viniciusrtf: thanks for looking into this and keeping us posted
@damian-pastorini : I'll be checking on this somewhen today (July 1st)

[2015-07-02 06:07] esgopi88 opened #105 "Scrolling is not working"
Hi
     http://www.yourwebsite.com/infinitescroll2/js  if i give this link its giving 404 error page and i changed yourwebsite name with my website name.What i can do?to solve this problem.

[2015-07-02 06:15] esgopi88 opened #106 "Scrolling is not working"
Hi
    If i merge the JavaScript script files scrolling is not working what is the problem?how can i solve it

[2015-07-06 11:58] chandrumcd opened #107 "Not working in the layered navigation result page"
Hi,

I am using Layered Navigation(Filter) option from my custom theme. So the infinite scroll not working in the Layered navigation result page.

Please help me to add infinite scroll in my custom Layered Navigation ajax module.

Regards,
Chandra Sekar.M

[2015-07-06 12:03] janmyszkier commented on #107
@chandrumcd : you didn't give us enough information to debug the issue, but if the layered navigation is not the one that magento comes with, I'm afraid we can't help you much because we don't have access to your extension / code / theme. You might want to ask the extension maker for the support as so far we confirmed our extension working on all default releases.

We can help you out with your is

[2015-07-06 12:06] chandrumcd commented on #107
Hi,

Thanks for your reply.

Please send the steps to add the infinite scroll to the custom category listing page.

Thanks and regards
Chandra Sekar

[2015-07-08 08:48] janmyszkier commented on #97
@viniciusrtf : thanks for detailed info that allowed me to reproduce the issue:
fix based on the solution you've posted available here for a time being:
https://github.com/janmyszkier/Magento-InfiniteScroll/tree/better_mode_recognition

we'll look into pulling this into master branch soon.
@damian-pastorini: please review

[2015-07-08 08:56] janmyszkier commented on #107
@chandrumcd:
detailed description of how to do this is available at: https://github.com/Strategery-Inc/Magento-InfiniteScroll

Please not that point 2 of [Installation](https://github.com/Strategery-Inc/Magento-InfiniteScroll#installation) is explained in detail in [Configuration](https://github.com/Strategery-Inc/Magento-InfiniteScroll#configuration) and the "selectors" are the same as the css se

[2015-07-08 09:02] janmyszkier commented on #106
@esgopi88 : I just checked this on most magento 1.9.1.1 and it works without problem. Can you please let me know on what version do you encounter the problem?
Most probably something else in your theme is not compatible with js merge functionality.

[2015-07-08 09:05] janmyszkier commented on #105
@esgopi88 : I believe you are referring to magento admin panel? Please make sure you:
1. Clear magento cache
2. log out of your admin account and log in again so you can refresh your admin access rules in your session.

This should fix your problem right away

[2015-07-08 10:45] damian-pastorini commented on #97
PR: https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/109
:+1:

[2015-08-05 08:02] jhoelzl opened #110 "Confusing Version Numbers"
Hallo,

it would be nice if you could use the same version numbers in your etc/config.xml, Magento Connect and git release log. Currently, they are not the same, although the code is the same.

[2015-08-05 10:40] janmyszkier commented on #110
@jhoelzl : can you please let me know which file do you have in mind?
as far as I see our [config.xml](https://github.com/Strategery-Inc/Magento-InfiniteScroll/blob/master/app/code/community/Strategery/Infinitescroll/etc/config.xml)

we already have correct versioning

[2015-08-05 10:52] jhoelzl commented on #110
Of course! On http://www.magentocommerce.com/magento-connect/strategery-infinitescroll.html, you write version number 3.2.1, on  https://github.com/Strategery-Inc/Magento-InfiniteScroll/releases you write v2.0, although it should be 3.1.0 everywhere.

[2015-08-05 10:54] janmyszkier commented on #110
@jhoelzl : Thanks for quick reply!
I'll see with the others into resolving this soon and standarize both.
Thanks again for spotting this.

[2015-08-05 12:16] gabrielsomoza commented on #110
@jhoelzl we haven't been making releases on Github because we don't use Composer with Magento ourselves, but you make a good point.

The Magento Connect page shows what the correct version number is. @janmyszkier could you update files to reflect that?

[2015-08-19 08:28] onepack opened #113 "It doesn't seem to work with iPhones"
A customer contacted me that the scroll is not functioning on her iPhone.
IPad, galaxy tab and htc phone don't seem to have issues.

[2015-08-19 11:52] damian-pastorini commented on #113
Could you provide more info please?
Do you have a custom theme installed?
An URL where we can take a look?
Thanks!

[2015-08-19 21:52] onepack commented on #113
You can check it at http://www.grovet.com
It's a custom theme built by me.

[2015-08-21 08:46] satishsojitra opened #114 "Jquery Conflict issue with InfiniteScroll"
Hi I have used this extension in Magento Version 1.9.1.0. Initially in header one jquery-1.11.3.min.js is loading then from app\design\frontend\base\default\template\strategery\infinitescroll\init.phtml one jquery is loading ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js.

Now when two jquery is loading in same page in category list page then it's conflicting. I have removed jquery from

[2015-08-21 09:27] janmyszkier commented on #114
@satishsojitra: Have you tried going to Admin -> System ->Configuration -> STRATEGERY -> InfiniteScroll -> General
and setting "Include jQuery" to "No" ?

[2015-08-21 09:33] janmyszkier commented on #113
@onepack : I just tested this on IPhone 6 and 5S, using instruments category, no issues on either.
Please provide steps to reproduce the issue.

[2015-08-21 09:36] satishsojitra commented on #114
Hi Janmyszkier

Yes I have tried that option too.

[2015-08-21 09:55] janmyszkier commented on #114
I've tried the extension on 1.9.1.0 recently and I had no such issues, is this default theme you have problems with? if not, is there url we can see it at?

[2015-08-21 10:27] satishsojitra commented on #114
We are using RWD theme.
As we all know whenever two jquery load in page it will create problems and ideal solution for that to remove one. Whenever I am removing jquery from extension it's stopped working.
Can you please share your email id if possible ?

[2015-08-22 11:30] mansidhaduk commented on #63
I have also installed the plugin through Magento Connect but i am also facing this same problem I have already apply all possible solution but it is not working..Please anybody can help me???

[2015-08-24 23:58] stefbowerman opened #115 "There's no 'ready' event to hook into"
I would like to add some code based on different infinite scroll events that are fired however, I can't seem to figure out a way to hook into them.

I know it should be as simple as..

[code]

but ```window.ias``` is created in a callback function in jQuery.getScript (which loads the ias script) which is in an inline script block.  There is no window event to let me know this function has resolved

[2015-08-25 13:53] jasonalvis commented on #115
Hi @stefbowerman,

I also came across the same problem and I wasn't sure if I was missing something too.

In my view the ias_config.js file is completely useless for a few reasons:

1. The hooks don't seem to work and it just errors out
2. You can't use php in the JS file meaning you can't use the admin config settings for the text strings

Alternatively I scrapped the use of the ias_config.js fil

[2015-08-25 14:07] jasonalvis opened #116 "Showing previous pages when you've clicked the back button"
Hey all,

This issue is related to https://github.com/Strategery-Inc/Magento-InfiniteScroll/issues/93 whereby users cant view previous pages after clicking the back button, they can only go to the next pages.

I also came across this issue and I was stumped as the jQuery library it uses for the infinite scrolling found here http://infiniteajaxscroll.com/examples/history/page2.html has a history de

[2015-08-25 16:20] stefbowerman commented on #115
I will probably end up having to copy over a template and override what's already there.  It's too bad because there is already an 'event' but it only logs to a global variable and nothing more.
[code]

Would it be too much to ask for a window event so we know when ias variables are available?  Something like..
[code]

[2015-08-28 10:18] janmyszkier commented on #96
@damian-pastorini : https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/117

[2015-08-28 10:22] janmyszkier commented on #114
@satishsojitra: unfortunately I can't share my direct address with you.
However, If you'd like to hire one of our developers for an hour or two in order to help you fix this issue with your custom RWD theme, please email us at: contact (at) strategery (dot) io

[2015-09-10 10:01] jasonalvis commented on #35
Did anyone manage to get this working with the SEO Layered Navigation Plus module, so far I have this but doesn't appear to be working:

$(document).bind("m-ajax-after", function(e, selectors, url, action){
    $.ias().unbind();
    $.ias().initialize();
});

[2015-09-10 11:10] janmyszkier commented on #115
created a pull request covering this.
https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/119

[2015-09-15 09:16] cojaco opened #120 "it seems your modman has some wrong source paths"
app/design/frontend/default/default/layout/*.xml app/design/frontend/base/default/layout/
app/design/frontend/default/default/template/strategery/* app/design/frontend/base/default/template/strategery/

the path app/design/frontend/default/default/ does not exist in your repro

[2015-09-16 14:52] gabrielsomoza commented on #120
We have a PR for that: https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/118 - just need to get it tested properly before merging.

[2015-09-18 11:30] gsomoza opened #121 "Mage Registry Error"
From Magento Connect:

I receive the following error when trying to log in to Magento Back Office after installtion.

Mage registry key "_singleton/infinitescroll/observer" already exists

On Magento 1.9.1

[2015-09-18 14:19] sunilmandal opened #122 "New page not loading"
loading image running continuously but data not loaded and in the console the following error is showing
![capture](https://cloud.githubusercontent.com/assets/11804185/9961460/527d95e4-5e3e-11e5-8e14-fb6a87ae77c9.PNG)

[2015-09-18 14:48] gabrielsomoza commented on #122
@sunilmandal you're running into a know issue caused by another extension. Please refer to this page for more information: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Nothing-Happens,-Although-the-%22Loading-Next-Page%22-Message-is-Visible

Closing this ticket for now - we can re-open later if needed.

[2015-09-18 14:48] #122 closed

[2015-09-25 19:53] damian-pastorini commented on #120
Merged the fix #118 , I tested and it's working fine now but you will probably need to run a modman update to fix the extension.

[2015-09-25 19:53] #120 closed

[2015-10-26 16:09] jasonalvis opened #123 "destroy / reinit"
Hello,

Has anyone worked out a solution to re-initialising the infinite scroll, for example when using the layered navigation an ajax call is made, I need to be able to re-init the infinite scroll on ajax success but not sure what I need to call to achieve this.

I've tried numerous things but none of them work.

    $(document).bind("m-ajax-after", function() {
        // re-init the infinite sc

[2015-10-26 16:21] gabrielsomoza commented on #123
Thanks for opening the ticket. We didn't have to tackle this problem with any of our clients yet so we don't have a solution at the moment. But I'll of course leave the ticket open, maybe someone in the community did solve it.

@damian-pastorini: please try to you circle back to this ticket whenever you get a chance in your busy schedule.

[2015-10-27 03:13] rishiraj87 opened #124 "Offset setting not working"
Hi,

I'm trying to enhance the user experience by loading contents of the next page well before the user has scrolled to the bottom of the page. I have changed the buffer setting from 150 px to 400 px all the way till 4000 px, but I see no change.

To validate this, I checked in Inspect element -> Network and observed when the contents of next page started loading. I found that whatever the value

[2015-10-28 10:07] Rallendk opened #125 "Loads the same page over and over again"
Hey there.

For some reason my page loads the first page over and over again when using this Infinitescroll. I am pretty sure I have used the right selector for next (.next)

[2015-11-02 02:09] zeki893 commented on #125
have you checked the wiki?
https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/InfiniteScroll-is-loading-always-the-same-page

[2015-11-02 08:19] zeki893 commented on #95
@janmyszkier nice that works. If anybody is using it with
[AjaxSwatches](https://github.com/wigman/AjaxSwatches)

    <script>
        ConfigurableMediaImages.ajaxLoadSwatchList();
    </script>

Add that inbetween

    <?php endforeach ?>
        <script>
            ConfigurableMediaImages.ajaxLoadSwatchList();
        </script>
    </ul>

[2015-11-02 09:12] #125 closed

[2015-11-02 12:58] damian-pastorini commented on #123
Hi @jasonalvis , you can try with the following:

[code]

[2015-11-04 19:19] rishiraj87 commented on #124
Hi,

someone please help !

[2015-11-13 10:31] gabrielsomoza commented on #124
Damian could you take a look to see if there's a bug in our extension? @rishiraj87 just so you know: we can only fix bugs in the extension itself. If you need dev support please contact us at contact (at) strategery (dot) io

[2015-11-16 13:06] phpsos commented on #123
hey!
great extension, everything works, except ajax loading...
@damian-pastorini
could you please check out if this code works.for you?
I tried it and this function called is unedfined. Even though before ajax load, infinity scroll works as it should.

[2015-11-16 14:29] prashanthpg opened #126 "Not wokring on a Custom Theme."
Hi,

"Loading the next set of posts..." does not go and products wont load.
http://www.pixelfly.in/qrocity/index.php/living/sofas/fabric-sofa.html

Magento Version: 1.9.2.2
Magento Theme: Custom
Strategery_InfiniteScroll2 Version: 3.2.1

and i have many other plugins installed. It works fine on a clean install.

Thanks,
Prashanth

[2015-11-16 15:09] gabrielsomoza commented on #126
See if this article in the Wiki section helps: [Nothing Happens, Although the "Loading Next Page" Message is Visible](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Nothing-Happens,-Although-the-%22Loading-Next-Page%22-Message-is-Visible).

Closing this ticket for now, but we can re-open later if necessary.

[2015-11-16 15:09] #126 closed

[2015-11-18 08:40] Vigneshmuthusamy commented on #123
I'm also trying to integrate manadev layered navigation filter with this plugin. But after ajax filter is applied, it doesn't trigger inifinite scroll. Instead it shows normal pagination.

I've tried the above solution too. But still it isn't working. Any suggestions?

[2015-11-23 12:40] amitabhaghosh197 opened #127 "Product data fetched, but not displaying"
Hi,
we are having an issue with the infinite scroll. On scroll, the ajax scroller is displayed.
Yet the data is not displayed.

On inspection using browser tools, it can be seen that the data is fetched in the json, however, the list of products are not displayed.

Further, the url also shows ?p=2 indicating the next page.
Please let us know a solution to this issue.

Test Site: http://lab-3.sketc

[2015-11-30 22:53] bouwkampioen opened #128 "Duplicate/Missing products"
Upon scrolling down when selecting the "best match" ordering method, when scrolling down (thus loading next batch of produchts), it is loading some products twice, and some others are missing.

This does not happen when ordering on "price" level, but we don't want this..

Any idea what might be wrong?

[2015-12-01 08:53] gabrielsomoza commented on #128
What happens if you manually (without scrolling down) visit the second, third (etc) pages: are those duplicate products present in those other pages?

To visit those other pages you may have to manually append ?p=2 (or similar) to the end of the URL

[2015-12-01 09:20] bouwkampioen commented on #128
Hello,

We don’t work with pages, but if I do it manually it is still showing the same issue. Once scrolling down (and thus loading the next batch of products) some products are duplicate. Its as if it doesn’t take in account the previous set of loaded articles…

I see that there we don’t have the youngest version of the plugin installed, so maybe we should try this out first.

But i wanted to mai

[2015-12-01 09:30] gabrielsomoza commented on #128
Ok, thanks. Let me know how it goes. Do make sure that you didn't disable pagination (pages) because our plugin requires that functionality to be intact in order to work properly: what our plugin does is to 1) hide the pagination controls from the user, 2) fetch the next page of products in the background, 3) inject the new products into the current page.

[2015-12-01 09:31] gabrielsomoza commented on #128
Will close this ticket for now - we can re-open once you confirm if the newest version also has the issue - even with pagination enabled.

[2015-12-01 09:31] #128 closed

[2015-12-02 14:58] somshine commented on #121
a:5:{i:0;s:69:"Mage registry key "_singleton/infinitescroll/observer" already exists";i:1;s:1475:"#0 /home/comfyhou/public_html/app/Mage.php(223): Mage::throwException('Mage registry k...')
#1 /home/comfyhou/public_html/app/Mage.php(477): Mage::register('_singleton/infi...', false)
#2 /home/comfyhou/public_html/includes/src/__default.php(22026): Mage::getSingleton('infinitescroll/...')
#3 /home/co

[2015-12-03 08:54] gsomoza opened #129 "IE Freezes during Fetch"
I am currently using the Strategery Infinite Scroll extension for Magento CE 1.9.2.1. So far I have enjoyed the plugin, but I’m running into an issue and was not able to find anything online about it. When browsing the site in any IE browser, even the most current, the infinite scroll freezes the browser for up to a minute or two before finally appending the products.

I have narrowed it down to t

[2015-12-03 08:56] gabrielsomoza commented on #129
@damian-pastorini could you look into this? High priority.

[2015-12-03 15:10] damian-pastorini commented on #129
I can't reproduce the issue, I installed a clean Magento 1.9.2.1 with the sample data, then installed the InfiniteScroll through the Connect Manager and tested in IE 11, the screen didn't freeze up at any point.
Also, as side note, the only place where the jQuery.after() method is implemented is inside the ias library.
Do you have an URL where I can see the issue?
Maybe you have a custom theme or

[2015-12-03 15:25] rain2o commented on #129
Yes it is using a custom theme. You can see the issue here - http://patricianashdesigns.com/women/handbags.
We are using jQuery 2.1.4 instead of the version with the extension.

[2015-12-04 11:01] damian-pastorini commented on #129
Hi @rain2o , could you try with the default extension? Becuase this seems to be a jQuery issue with IE.

[2015-12-05 03:55] prashanthpg commented on #126
Have managed to make it work. Works fine on a category page but not on vendors/brand page. Why is that?

http://www.pixelfly.in/gc/index.php/ves-brand/boca-do-lobo.html

[2015-12-05 10:59] gabrielsomoza commented on #126
If the brand page is a CMS page (or anything else other than a category page) then it won't work by default. The reason is that CMS pages can take all kinds of contents within them, and sometimes its just static content, so there's no way for us to consistently provide infinite-scrolling on CMS pages.

If you're showing products on those brand pages I recommend you set them up as category pages wi

[2015-12-07 07:37] atiteam commented on #127
Hi There, your test page loads the next page once you click the LOAD MORE PRODUCTS button.
I have a similar issue, firebug shows it fetches result but not injecting to the div and no other js error.
Any suggestion?

[2015-12-07 10:11] gabrielsomoza commented on #127
@atiteam thanks for your comment. If the result is fetched but doesn't get injected then there could be two reasons:

1. Maybe the page loaded via AJAX doesn't have any products. Check that by opening the page's URL manually on a browser tab.
2. Otherwise, check that the selectors are configured properly in the extension's config area. We use them to identify which are the products and where to in

[2015-12-07 10:11] #127 closed

[2015-12-07 20:04] bouwkampioen commented on #128
Hey,

We updated the plugin. However, it is still showing duplicate products and missing other products, when selecting the “best position” view option and scrolling down.. It does work when ordering on “price” attribute though… Any ideas?

Van: Gabriel Somoza [mailto:notifications@github.com]
Verzonden: dinsdag 1 december 2015 10:30
Aan: Strategery-Inc/Magento-InfiniteScroll <Magento-InfiniteScro

[2015-12-07 22:09] atiteam commented on #127
Hi There,

I think I just found new conflict with your extension. By the way great job.
This is the conflicting extension preventing to fetch new data to the canvas:
http://www.magentocommerce.com/magento-connect/magehouse-free-ajax-layered-navigation-toolbar-with-price-slider-2-2-0.html <http://www.magentocommerce.com/magento-connect/magehouse-free-ajax-layered-navigation-toolbar-with-price-slide

[2015-12-08 10:21] gabrielsomoza commented on #127
Thanks for the info. We started building a page where we'll list extensions that are known to cause problems, and potentially some solutions. If you find a way to fix this particular extension could you please let us know so others in the community can benefit from the fix?

[2015-12-08 10:25] gabrielsomoza commented on #128
@bouwkampioen do you have a page I can visit where I could see the issue and check why its happening?

Also: is pagination enabled on that category?

[2015-12-08 10:58] bouwkampioen commented on #128
Hello Gabriel,

http://www.bouwkampioen.be, just go to a subcategory, enable ordering “best match” “positiie” and scroll down. You’ll see certain products load again even when showing on first batch of loaded products.. and in the end some others are missing..

Coder claims pagination is on.

Van: Gabriel Somoza [mailto:notifications@github.com]
Verzonden: dinsdag 8 december 2015 11:26
Aan: Strate

[2015-12-08 11:13] gabrielsomoza commented on #128
Looks like you're using an AJAX-based layered navigation extension. That's probably what's causing issues with ours. See this page for a few more details: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts

What layered-navigation extension are you using? I'd like to add it to that page so that other people can be aware of this.

As you'll see in that page,

[2015-12-09 08:36] bouwkampioen commented on #128
We are using AITOC Layered Navigation Pro.

Thanks for the clarification. As our coder couldn’t fix the issue himself, I believe the only solution will be to find a replacement fort he infinite scroll extension we are using from you guys :(

Thanks for support tho!

Cheers

Van: Gabriel Somoza [mailto:notifications@github.com]
Verzonden: dinsdag 8 december 2015 12:14
Aan: Strategery-Inc/Magento-In

[2015-12-09 08:58] gabrielsomoza commented on #128
Sorry to hear that @bouwkampioen! If you find any extension that integrates nicely with AITOC Layered Navigation we'd really appreciate it if you could let us know (if not too much trouble) so we can see how they did it.

The reason I ask that is that I honestly can't imagine there will be any extension that can automatically integrate with other AJAX-based Layared Navigation extensions, simply be

[2015-12-21 12:38] sunny29mca commented on #85
Hi, I am getting below error after integrating with custom theme when extention enabled

Page is loading correctly intialilng, when I scroll down page url changes to
http://localhost/mysite/index.php/mens/jeans.html?p=2
after sometime front end says ' Loading the next set of posts...'
but give below javascript error

ERROR DETAILS.....it is long string like html....
Uncaught Error: Syntax error, u

[2015-12-21 12:38] sunny29mca commented on #85
i am using magento 1.9

[2015-12-21 12:48] gabrielsomoza commented on #85
@sunny29mca your issue is related to an extension that unfortunately transforms all AJAX requests to Magento. Its a bad practice. More info in our Wiki, check [this article](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Nothing-Happens,-Although-the-%22Loading-Next-Page%22-Message-is-Visible)

[2015-12-21 12:50] sunny29mca commented on #85
so what to do?

[2015-12-21 12:52] sunny29mca commented on #85
I have not "Aheadworks Ajax Cart Pro" ext

[2015-12-21 15:26] gabrielsomoza commented on #85
You may have another extension that causes that error to happen when our extension is enabled (maybe for layered navigation, but it could be anything really). I'm afraid this is an integration that only a PHP developer can help you with.

[2016-01-04 10:03] athulkvijayan opened #130 "Issue with SEO layered navigation."
I have installed an seo layered navigation extension (catalin seo layered navigation) before installing that extension. the infinite scroll was working fine. After the that it is not working it will show a loading products dialogue and then the page no in the url will be updated but the products are not loading

[2016-01-04 10:04] gabrielsomoza commented on #130
Probably related [to this](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts)?

[2016-01-04 10:07] athulkvijayan commented on #130
yes. how much time you will require to solve this issue

[2016-01-04 10:12] gabrielsomoza commented on #130
It depends greatly on the theme and any other extensions, but usually the integration takes between 2 and 5 hours. Very occasionally it could take longer but that would be rare.

If you'd like one of our developers to do it please emails us at contact (at) strategery (dot) io

Closing the ticket for now since its not a bug in our extension, but we can continue the discussion anyway.

[2016-01-04 10:12] #130 closed

[2016-01-04 10:13] athulkvijayan commented on #130
ok thanks for the quick response. I will talk with the team and let you know if they can't fix this issue.

[2016-01-12 23:03] onepack commented on #96
I have an issue with the module when I make the whole frontend https.
Since then The scroll doesn't load the 2nd page anymore.
I get mixed content warnings on loading the second page.

Error: Blocked loading mixed active content "http://www.domain.com/food-supplements.html?p=2"
Source File: https://www.domain.com/food-supplements.html
Line: 5

[2016-01-13 10:41] gabrielsomoza commented on #96
@damian-pastorini could you review the PR and merge asap so we can fix this?

[2016-01-13 12:01] damian-pastorini commented on #96
Fixed in https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/131

[2016-01-13 12:29] damian-pastorini commented on #96
Merged.

[2016-01-13 13:15] damian-pastorini commented on #96
The new extension version was also uploaded to connect:
https://www.magentocommerce.com/magento-connect/strategery-infinitescroll.html

@ranvirrai1987 , @onepack you can download the fix and test.
I'm closing this issue but if you need we could re-open it.

Thanks!

[2016-01-13 13:15] #96 closed

[2016-01-13 14:38] gabrielsomoza commented on #96
FYI it might take a few days until the new version is approved in Magento Connect (looks like they changed the process recently). Meanwhile you can download it from Github by going to the [releases](https://github.com/Strategery-Inc/Magento-InfiniteScroll/releases) page and getting the "Latest release" marked in green (v3.2.2 as of this writing).

[2016-01-13 22:30] onepack commented on #96
I have installed the patched version from github. The mixed content warning is gone when scrolling down the page but... it still doesn't work. It just hangs in all browsers on the first set of products.
Cleared all cache types even reindexed to be sure but with no result.

I disabled https again for the category pages and then the module comes back to life.

[2016-01-14 10:56] damian-pastorini commented on #96
@onepack could you give us an URL where we can take a quick look?

Some considerations you should have:
- If you have a theme installed make sure that only one jQuery instance is included.
- If you have a theme installed make sure that all the selectors are properly configured in the System / Configuration / InfiniteScroll area.
- Check the System / Configuration / Catalog / Frontend area to see t

[2016-01-14 16:57] djfordz commented on #93
I need to resolve this issue for one of our clients, so I am going to attempt to tackle it and submit a PR here shortly.

[2016-01-14 18:07] gabrielsomoza commented on #93
Great @djfordz! we're curious to see how you'll tackle it. I'm sure you already did it, but just in case: make sure you read the second comment above for some info on why I think its a complicated issue.

Having said that: we look forward to your contribution!

[2016-01-14 20:00] djfordz commented on #93
It is def a complicated issue, and will prob take me a few days...I am a Junior Magento Dev and am anxious to tackles something like this.

[2016-01-15 09:57] onepack commented on #113
Case closed as I did not hear from the client anymore.

[2016-01-15 09:57] #113 closed

[2016-01-20 03:49] pantaoran opened #135 "Are you planning to port to Magento 2 ?"
I'm wondering if you guys are going to offer this module for Magento 2 in the future, and if yes, when?

[2016-01-20 14:07] gabrielsomoza commented on #135
Yes, we are but we don't have a timeline right now. Hopefully we can do it at some point during Q2 2016.

[2016-01-21 06:44] Manisha-opax opened #136 "Confliction with custom theme extensions(Layered navigation and lazy loading)"
Hi,

I am using your extension on one of my dev site and its working as expected for normal category pages except that its not loading images which is the issue 1 and second is its not working with layered navigation.
So, two issues:
#issue1: not loading images
#issue2: not working with em themes layered navigation

Thanks,
Manisha Sharma

[2016-01-21 15:16] gabrielsomoza commented on #136
Looks like your issues are related to these two articles in our wiki:
* https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page
* https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts

Hope that helps!

[2016-01-21 15:16] #136 closed

[2016-01-23 05:04] Manisha-opax commented on #136
Hi Gabrielsomoza,

I have looked into the both links but it didn't helped me.
Please advise.

Thanks,
Manisha Sharma

[2016-01-25 10:58] gabrielsomoza commented on #136
Hi Manisha, I recommend you consider hiring a PHP developer (maybe even a Magento developer) to help you with this. Since this is a free plugin I'm afraid we can't help with integration issues..

If you're interested in hiring one of our certified Magento developers please email us: contact (at) strategery (dot) io

[2016-01-25 13:55] gabrielsomoza commented on #93
If you're junior dev then I'd recommend you start with some other low-hanging fruit rather than tackle something like this: my opinion is that its just not a feasible feature. And I've never seen it implemented anywhere else on the Internet. There's probably  no good way of building it without compromising severely on other aspects such as UX or possibly even worse: the ability for this plugin to

[2016-01-31 16:16] yuvalmit opened #137 "INCHOO Featured Products integration"
hey,
i'm developing magneto site and i'm using inchoo featured products.
the infinity scroll work great but not on the featured product page :(
is there a way to make it happen? some declaration to do and make the infinity scroll work in that page also?

[2016-02-03 19:30] rain2o commented on #129
I have spent some time diving into this and found that most of the issues did ultimately come back to my theme. However, there is a small change that I had to make to the `init.phtml` file to allow me to accomplish my goals more optimally. I have submitted pull request #139 with the changes. I just triggered publicly accessible events so that my JS could bind to those events for additional functio

[2016-02-05 13:26] rain2o commented on #129
This can be closed now. The issue seemed to be an issue with Javascript I was running after new elements loaded. With the latest pull request #140 that has been implemented I was able to resolve the issues on my side. Thanks!

[2016-02-15 10:35] anurag-do commented on #71
also prices are not coming on grid when hover on products  http://www.frommuranowithlove.com/murano-chandeliers.html#/page/2

[2016-02-15 10:37] anurag-do opened #142 "Infinite Scroll breaks on hover actions on product grid."
after installing extension, it works perfectly but action buttons on products disappeared from page 2.

[2016-02-15 10:55] damian-pastorini commented on #71
That's a custom theme and it looks that the hover effect is been applied by JS:
`$('.category-products-grid > .item').hover(function() { ...`
so you will need to create an observer for the infinitescroll event to re-apply the hover effect on the items loaded by the scroll.

Best,

[2016-02-15 10:57] anurag-do commented on #71
how to apply that ?

[2016-02-15 11:24] damian-pastorini commented on #71
@anurag-do you will need to add some custom code in your website, something like:
[code]

[2016-02-15 11:27] damian-pastorini commented on #71
@jpmarin , are you still having the issue? Where** did you get the 404? In the System / Configuration page? That's usually because you need to logout and login again to the admin so the ACL is reloaded for your admin user.

Best,
Damian

[2016-02-15 12:01] anurag-do commented on #71
thanks @damian-pastorini  :)

[2016-02-15 12:12] gsomoza commented on #142
Your running into [this issue](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page)

[2016-02-15 12:12] #142 closed

[2016-02-15 12:13] gsomoza commented on #71
Closing this ticket for now because its an theme-specific issue (the discussion can continue anyway even when closed).

[2016-02-15 12:13] #71 closed

[2016-02-15 12:15] gsomoza commented on #137
If the featured product page is not a category page then you'll have to make the integration work manually. Look at how we're using the IAS library in the category pages, and then basically do something similar for the featured product pages.

(if you're not a developer then you'll need a Magento developer to help you with that)

Closing this ticket for now because its not a bug in our plugin, but

[2016-02-15 12:15] #137 closed

[2016-02-15 12:20] damian-pastorini commented on #129
Closing :)

[2016-02-15 12:20] #129 closed

[2016-02-15 12:37] damian-pastorini commented on #115
@stefbowerman , I'm closing this. You can also check our last comments in #139 and #140.
Best,
Damian

[2016-02-15 12:37] #115 closed

[2016-02-15 12:38] damian-pastorini commented on #121
I'm not able to reproduce this.

[2016-02-15 12:48] gsomoza commented on #123
We can't provide suggestions unless we understand what the issues are once you try to re-init.
* There must be some kind of error happening,
* Or maybe nothing happens and things silently stop working?

I suggest starting a new branch forked from this repo where we can all look at what you did so far and based on that run our own tests, etc. Would any of you be willing to share that with us?

[2016-02-15 13:04] #121 closed

[2016-02-18 10:47] sunny29mca opened #143 "product loader is very slow"
We are using this ext but found it takes much time to load product

please help to resolve this.

http://tradetodayonline.com/men.html

[2016-02-18 13:16] gsomoza commented on #143
Our extension adds practically no overhead to Magento, so the speed at which products load is directly proportional to the speed of your web server. I recommend you optimize or upgrade your Magento installation and you'll immediately notice the effects on the front-end.

If you're interested in optimizing your Magento installation but need help, please contact us at contact (at) strategery (dot) i

[2016-02-18 13:16] #143 closed

[2016-02-19 07:18] athulkvijayan opened #144 "I have a page with root category listing that I have done with cms page how to include infinite scroll in this"
this is the design tab content
<reference name="left">

        <block type="catalog/layer_view" name="catalog.leftnav" template="catalog/layer/view.phtml" >
                <action method="setCategoryId"><category_id>3</category_id></action>
        </block>
</reference>

<reference name="content">
        <block type="catalog/product_list" name="home" template="catalog/product/list.phtml">

[2016-03-01 22:39] stefkosmo opened #145 ".product-grid Duplication"
Hey,

div .products-grid appears to be duplicated even though the collection returns one set of products.

Any idea why? Please see www.dealicious.co.uk for issue.

Thanks

[2016-03-02 20:05] damian-pastorini commented on #145
Hi @stefkosmo , when the page load for the first time there's only 1 object loaded:
![image](https://cloud.githubusercontent.com/assets/1211779/13473439/1f14a152-e098-11e5-84d5-22ddbe24768f.png)

And only after I clicked on the "load more" button I get the second set (which is correct):
![image](https://cloud.githubusercontent.com/assets/1211779/13473495/5cd71808-e098-11e5-9f96-a66f5bb01a11.png)

[2016-03-03 12:33] stefkosmo commented on #145
Hey,

Sorry didn't explain myself properly.

I've set the theme to show 12 Products per page. Therefore the "Show more items" should be clicked and display the remaining 3 products, not a duplicate set?

Thanks

[2016-03-03 12:59] damian-pastorini commented on #145
It seems you have an issue with the pagination because the page two link is returning the page 1 contents:
http://www.dealicious.co.uk/?p=2

[2016-03-03 13:05] gsomoza commented on #145
Closing this because its not a bug in our extension.

[2016-03-03 13:05] #145 closed

[2016-03-03 13:40] stefkosmo commented on #145
Ok no problem, thanks anyway.

[2016-03-03 14:10] gsomoza commented on #145
@stefkosmo if you need help with Magento in general feel free to reach out to us: contact (at) strategery (dot) io

Sorry we can't offer more specific case in situations where the bug is not in our plugin: we offer the plugin for free and therefore we have no budget to offer additional support other than for bug-fixes..

[2016-03-03 14:45] stefkosmo commented on #145
It's fine thanks. I think the way you provide support at all is great for a free extension. If I can find a fix, ill post an update to any of those who may be in the same situation.

[2016-03-03 17:37] gsomoza commented on #145
That would be great! We have a small Wiki right here where that kind of information could be very helpful to other users: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki - feel free to contribute edits to any of those pages.

[2016-03-03 17:38] gsomoza commented on #145
(or you can always of course just add a comment here if that's easier)

[2016-03-15 10:16] gsomoza commented on #144
You should look at how IAS is configured on category pages and try to duplicate that in your CMS page. Unfortunately we can't help you further than that because what you're doing is out of the scope of this free plugin, so I'll close this ticket.

[2016-03-15 10:16] #144 closed

[2016-03-21 18:03] damian-pastorini commented on #52
I'm closing this since the issue is not in the extension itself.

[2016-03-21 18:03] #52 closed

[2016-03-21 18:20] damian-pastorini commented on #90
@antoniocarboni , do you mean some browser speed boster, something like an "extra plugin for cache" or just the simple browser cache?
Wich browser are you using?
Because I never clean up the browser cache for the tests and everything is still working fine.

[2016-03-21 18:58] damian-pastorini commented on #95
@gsomoza I just created this PR for the fix: https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/148
Please take a second look on it so we can merge it.
Thanks!

[2016-03-21 19:01] damian-pastorini commented on #97
@gsomoza  the PR was merged, we should close this one.

[2016-03-21 19:02] #104 closed

[2016-03-21 19:05] damian-pastorini commented on #106
I'm not able to reproduce the issue.
@esgopi88 , could you give us more information to reproduce?

[2016-03-21 19:05] #107 closed

[2016-03-21 19:09] damian-pastorini commented on #110
The last version in Connect is 3.3.0,
Today we merged a few fixes and I also created this PR which includes a fix for the configurable swatches and a version update to 3.5.0:
https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/148
We will upload the last package to connect with version 3.5.0 to keep all the versions the same.

[2016-03-21 19:10] #114 closed

[2016-03-21 19:26] damian-pastorini commented on #123
@gsomoza as far I understand the issue is related to a 3rd party extension to make the Layer Navigation work though AJAX.
@phpsos , @Vigneshmuthusamy , I'm sorry but we can't give you free support on this, more than a few recommendations.

In this particular case you should make sure that the bind is working, if the commented line:
jQuery(document).bind("m-ajax-after", function() { alert("test");

[2016-03-21 19:27] damian-pastorini commented on #123
If you need dev support please contact us at contact (at) strategery (dot) io

[2016-03-21 19:33] damian-pastorini commented on #124
Hi @rishiraj87 , for what I see in your page this is not an issue, the scroll started to load long before I hit the bottom of the page, but it took some time to load the next page that's why you still see the loading and the moment when the next set is rendered.
I would recommend you to improve your website response time and speed to avoid that.
Also you can make the page load less items, like 12

[2016-03-21 20:09] damian-pastorini commented on #116
Hi @jasonalvis , thanks for your recommendations!
I just updated the jQuery IAS library, fixed the previous class configuration and added some system-configurations for future modifications.
@gsomoza I just created this PR: https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/149
We should include those fixes in our next release for Connect too (3.5.0).

[2016-04-15 17:31] davirs opened #150 "Ultimo theme + infinite scroll [help]"
Hi! I already read about [Functionality Issues After Loading Next Page](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page). And it´s exactly my problem. Some elements are missing while the first set of results does work.

this is a demo at grid page: http://ultimo.infortis-themes.com/demo/fifth/women.html

I need some help to put infinite sc

[2016-04-18 12:28] gsomoza commented on #150
The demo doesn't seem to have InfiniteScroll enabled, could you check that?

Another thing: what function do you need to call on the new elements in order to decorate them?

[2016-04-18 12:29] gsomoza commented on #150
Marking as ready-to-close because this isn't about a bug in our extension. Will wait for feedback from reporter before closing though.

[2016-04-18 14:40] davirs commented on #150
Original Ultimo demo hasn't infinite scroll, but you can view hover functions.

Here is my demo with ultimo+infinite scroll http://goo.gl/QStT2Z

[2016-04-20 12:10] DevertNet commented on #123
This works for me with the ajax filter of "Amasty_ImprovedLayeredNavigation".
fyi: I must rewrite the function, because i didn't find any callbacks in "amshopby_ajax_update".
**Important** You must update Infinite Ajax Scroll to v2.2.1 or up for the reinitialize function!
[code]

[2016-04-20 13:51] gsomoza commented on #123
Thanks a lot for sharing this with the community!

[2016-04-20 15:19] informundo opened #151 "Error with Nginx"
If used nginx to serve static content, in older browsers, infinity scroll automatically redirected to the next page without stopping, showing only the last. For example: http://www.mydomain.com/category, the automatically recharged http://www.mydomain.com/category?p=2, p = 3, p = 4 .... and show only the last in a single page (without above items). for example http://www.mydomain/category?p=10 wit

[2016-04-21 09:39] janmyszkier commented on #151
@informundo! this is nginx configuration issue, rather than this plugin. Feel free to check this working on ubuntu virtual machine with nginx installed. The plugin itself doesn't REQUIRE anything beyond normal magento rewrite handling.

[2016-04-21 14:52] gsomoza commented on #151
Thanks for chiming in Jan! @informundo does this issue happen on the demo using those old browsers? And if so: which browsers are you specifically referring to?

Closing this ticket for now because like Jan said this extension is not directly related to Nginx. We can continue the discussion though.

[2016-04-21 14:52] #151 closed

[2016-04-22 18:44] jelqui opened #152 "Warning: include(): Failed opening includes/src/Strategery_Infinitescroll_Helper_Data.php' for inclusion"
Magento 1.9.2.4

2016-04-22T18:40:18+00:00 ERR (3): Warning: include(): Failed opening '/magento/includes/src/Strategery_Infinitescroll_Helper_Data.php' for inclusion (include_path='/magento/includes/src:.:/usr/share/php:/usr/share/pear')  in /magento/includes/src/Varien_Autoload.php on line 94

[2016-04-22 18:47] jelqui commented on #152
How to fix it
php -f shell/compiler.php state
Compiler Status:          Disabled
Compilation State:        Compiled
Collected Files Count:    8110
Compiled Scopes Count:    4

php -f shell/compiler.php enable
php -f shell/compiler.php compile

Note: magento compiler was disable

[2016-04-22 18:47] #152 closed

[2016-04-23 09:59] gsomoza commented on #152
Thanks for reporting the solution for this @jelqui !

[2016-04-25 15:21] damian-pastorini commented on #150
@davirs please check our last implementation and documentation about the infinitescroll events maybe that could help you to fix the issue with the custom theme.

[2016-04-25 15:21] #150 closed

[2016-04-25 15:21] #124 closed

[2016-04-25 15:22] #123 closed

[2016-04-25 15:22] #110 closed

[2016-04-25 15:22] #105 closed

[2016-04-25 15:23] #97 closed

[2016-04-25 15:24] damian-pastorini commented on #90
@antoniocarboni any updates on this?

[2016-04-25 15:25] damian-pastorini commented on #106
@esgopi88 we need more info to reproduce the issue. Thanks.

[2016-04-25 21:03] davirs commented on #150
I already read your documentation, if I had achieved I would not be asking for help... So I still need help to put this plugin to load hover elements.

Another thing, your demo not works.

![screenshot_22](https://cloud.githubusercontent.com/assets/4355062/14798823/d7478892-0b0f-11e6-9c8b-313b0adf822b.png)

[2016-04-27 05:40] anurag2701 commented on #150
Can you guys please help me to find the decoration script, so that we can fix the infinite scroll issue with it.

[2016-04-28 20:04] damian-pastorini commented on #150
hi @davirs , @anurag2701 ,
In one of our last releases we included the following:
$(document).trigger( "infiniteScrollReady", [window.ias]);
If you listen the infiniteScrollReady you will be able to reach window.ias and from there include the JS code of your custom theme inside the on render event, like:

window.ias.on('rendered', function(items) {
    var $items = $(items);
    $items.each(functi

[2016-04-28 20:05] #106 closed

[2016-04-28 20:05] #90 closed

[2016-05-04 12:17] montybansal opened #153 "Scrolling Not working with product sorting"
I have used Strategery - InfiniteScroll plugin with Magento ver. 1.9.2.2, with ultimo theme its working on product listing page when scroll page down, but when I used either product sorting or sidebar filter then plugin not working on page scrolling. please help me in this problem

Thanks

[2016-05-09 11:24] damian-pastorini commented on #153
Hi @montybansal , since this is not an issue in the extension itself but with your custom theme we can't provide free support.
If you like you can hire our development services so we can help you with the integration, for that you can contact us at contact (at) strategery (dot) io.

Best

[2016-05-09 11:28] damian-pastorini commented on #116
Merged PR, closing issue.

[2016-05-09 11:28] #116 closed

[2016-05-09 11:28] damian-pastorini commented on #95
Merged PR, closing issue.

[2016-05-09 11:28] #95 closed

[2016-05-12 09:42] domwhooley opened #155 "Tool bar viewing product number (1 to 9 of 31) not updating"
I looked through all the open tickets and couldn't find this issue. As the title suggests, when loading the page 2 still displays first pages amount of products numbers. Any ideas how to fix other than hiding the tool bar? Magento EE 1.13.1.0, Stategy Infinite Scroll 2.3.0.

Thanks,
D

[2016-05-13 12:43] damian-pastorini commented on #155
Hi @domwhooley , we fixed a lot of issues over the new versions and mostly in the last one, please update InfiniteScroll and let us know if the issue continue.

[2016-05-13 12:45] damian-pastorini commented on #135
We started a Magento 2 implementation in the "magento_2" branch:
https://github.com/Strategery-Inc/Magento-InfiniteScroll/tree/magento2
We are still working on it but if you like to try it the code in the branch already works.

[2016-05-13 12:46] #153 closed

[2016-05-13 14:47] domwhooley commented on #155
Hi,

Thanks for replying.

I have been working with the Ecommerce Team who have helped me iron out a few issues getting yours and theirs (SEO Nav) extensions to play nice. As part of that they advised me to update your plug which I did yesterday with the latest version I could find here https://github.com/Strategery-Inc/Magento-InfiniteScroll <https://github.com/Strategery-Inc/Magento-InfiniteScro

[2016-05-16 11:42] damian-pastorini commented on #155
Hi Dom,

Yes, the last version is the one in GitHub
<https://github.com/Strategery-Inc/Magento-InfiniteScroll>
https://github.com/Strategery-Inc/Magento-InfiniteScroll from 7 days ago.

In order to debug the issue you can:

*

	Enable the extension debug mode and check if there are any errors in
the console.
*

	Since you have a custom theme you need to make sure that all the
extension selectors a

[2016-05-17 20:16] elfyrocks commented on #153
Whenever you want to add some custom layered navigation (ie. AheadWorks Layered Navigation or anything else that makes Ajax calls to update the product list or grid), just make sure to destroy the current IAS object and after that reinitialize SgyIAS by adding:
[code]
At the end of the function that calls the new content.
Cheers!

[2016-05-17 21:51] damian-pastorini commented on #153
@elfyrocks , thanks for the notes!

[2016-05-19 21:01] #155 closed

[2016-06-01 17:08] pjona commented on #135
@damian-pastorini: I tried with Magento 2.0.6 and everything works out of the box. Thanks.

[2016-06-01 17:28] damian-pastorini commented on #135
Nice to hear that @pjona , we are still working on the extension for now we just port it to M2, but we are planning to do a big M2 way reactor on it.
I'll let you know as soon we have the new version ready.

[2016-06-02 13:00] rlaven opened #156 "Show previous products when going back to catalog"
When you scroll down and for example click on a product on page 4. If you use the backbutton Magento is not showing the products on pages 1 / 2 / 3.  Is is possible to go back to page 4 but still be able to scroll up through pages 3 / 2 / 1?

Regards,

Richard

[2016-06-02 22:57] damian-pastorini commented on #156
Hi @rlaven , in our last version (assuming Magento 1), we enabled the back feature, so when you return with the back button to page 4 you will see the button to load previuos pages.
For reference you can check the old issue and the PR:
https://github.com/Strategery-Inc/Magento-InfiniteScroll/issues/116

Best,

[2016-06-09 12:32] tapati opened #157 "infinitescroll not working"
Hello,

I have successfully installed your plugin. I am using my own custom theme. So that i copied the "strategery"  folder into my theme template folder and also copied the strategery-infinitescroll.xml into my layout folder. And then clear cache. But still it is not coming in admin /System / Configuration / Catalog / Infinite Scroll.
       Can you please help me out ? My site URL is http://cor

[2016-06-09 13:43] damian-pastorini commented on #157
Hi @tapati , I just updated the README.md file, the correct path to the configuration is:
System / Configuration / Strategery / Infinite Scroll
If you get a 404 you will need to re-login in the admin.
In that section you will need to correct the selectors for your theme since I don't see any of the default ones.
Unfortunatelly since that's not an issue in the extension itself we can't
give you fre

[2016-06-13 11:14] #157 closed

[2016-06-14 14:51] cojaco opened #158 "Scroll both directions"
Hi,

is it possible to scroll also up? This would come in very handy when history back is enabled.

For excample a user scrolls through the product list klicks on a product, hits the back button, now its not possible anymore for the user to see products that he he has seen before in the same list.

He has to klick on the same Menu link again or has to alter the url (remove the ?p=x ), which is not

[2016-06-16 11:31] damian-pastorini commented on #158
Hi @cojaco , is not possible literally "scroll" back, but if you enable the back feature you should the "Load previous products" buttons for that matter.
We included the feature in this PR: https://github.com/Strategery-Inc/Magento-InfiniteScroll/issues/116
Best,

[2016-06-17 08:27] cojaco commented on #158
Hi Damian,

yes I had the back feature enabled. there are two problems.
When it is enabled I can see ?p=2 in the url and I always jump back to this page.

But of course if I click than on a Product that is  P=1 (other pages can be in the viewport without changing the url) I can't go back to this product without click on the menu button or alter the url.

[2016-06-17 11:58] damian-pastorini commented on #158
hi @cojaco can you tell me an URL where I can see the issue?
thanks!

[2016-06-17 12:04] damian-pastorini commented on #158
@cojaco if you:
1 - scroll down until page 2 or 3
2 - access to a product
3 - then go back in the browser
4 - do you see the value for the page you were before right? like p=3
5 - at that point you should also see the "load previous items" button:
![image](https://cloud.githubusercontent.com/assets/1211779/16149908/4488bf60-346a-11e6-8add-51603889a5e4.png)
6 - if you click on that button the previ

[2016-06-17 15:57] cojaco commented on #158
@damian-pastorini

thank you for your quick responses and patience, indeed I think I still use an older version of your module.
I don't have the previous button. That sounds very promising.

I'll try it next week.

[2016-06-20 10:55] damian-pastorini commented on #158
@cojaco , great, just let us know how everything goes. If didn't have the extension last version that will probably fix everything.
Best,

[2016-06-21 08:38] cojaco commented on #158
@damian-pastorini

yes that is what I was looking for!
First I forgot, that I had some overrides in my theme but now it works.

Thanks again!

[2016-06-21 08:38] #158 closed

[2016-06-21 10:51] damian-pastorini commented on #158
Great!
Best,

[2016-06-22 10:39] tapati opened #159 "Infinite auto page loading not working"
Hello
I have successfully installed this add on . But its not working with my custom theme. My site Url is http://coralconcept.in/shoponline/ . Please help me out ASAP.

Thanks
Tapati Paul

[2016-06-22 23:35] damian-pastorini commented on #159
Hi @tapati , in a quick look on your site you have several JS issues (I can see them just by opening my browser console), any of those issues could be preventing the InfiniteScroll to work properly.
Additionally your custom theme doesn't use any of the default Magento styles so you will need to modify the InfiniteScroll configuration with the proper selectors to detect items, containers, toolbar a

[2016-06-22 23:35] #159 closed

[2016-06-23 13:05] cojaco opened #160 "InfiniteScroll gets Slow after a couple hundred products"
Hello,

when I installed the new 3.5 version of infiniteScroll i realised that in very big productlist its getting slow and slower the mor products are alread loaded.

So e.g I have a list of 1200 Products, a page is 12Products big and the first ten times or so its very fast the the spinner occurs and new products are loaded.

But after this ten times it takes more and more time till the spinner a

[2016-06-23 13:29] gsomoza commented on #160
As far as I know there's nothing we can do about this. Just how slow it gets will depend on the device, but browsers do tend to slow down considerably whenever there are a lot of elements on the page.

I recommend fixing this on the front-end with custom code. Try hiding the elements that are not in the viewport so that the browser doesn't have to even consider rendering them.

Not even sure if th

[2016-06-23 13:29] #160 closed

[2016-06-23 13:29] gsomoza commented on #160
Well, there might be something we can do about when the spinner appears. @damian-pastorini can we make it appear early? E.g. right before the ajax request is sent?

[2016-06-23 14:40] cojaco commented on #160
Hi gsmonza,

thank you for your answer. If the spinner could appear quicker, that would be very helpfull allready.

[2016-06-23 14:48] damian-pastorini commented on #160
Hi @gsomoza , @cojaco , the spinner is already been displayed in the first ias event (next), which is triggered by the scroll event when the user reach the scroll buffer.
I don't think we can fix this if the browsers starts to delay the spinner display because an memory issue.

[2016-06-23 14:53] gsomoza commented on #160
That's what I thought, its already being fired as early as possible but a slow browser would just take long to start rendering it. Let's keep this issue in mind to see if we can figure out any other solutions at some point in the future.

[2016-06-23 14:55] cojaco commented on #160
thank you guys!

[2016-06-23 21:45] gsomoza commented on #160
No problem, its a pity we couldn't find a solution for this!

[2016-06-24 10:42] cojaco commented on #160
An idea, how about, every lets say ten pages, the previous content is unloaded from the dom,
then if you scroll up to that place or with an offset before, the previous pages are loaded again.

And after ten pages scrolling up, the last pages are deleted from the dom.

Does that make any sense?

[2016-06-24 10:49] damian-pastorini commented on #160
Actually not a clue, never hear about that, the infinitescroll nevers unload content from the doom, could be a browser behavior? Did you tested it cross-browser?

[2016-06-25 09:20] cojaco commented on #160
No, I meant, unloading or detach invisble products (products that are not in the viewport anymore) from the dom could be a solution for the slowing down problem.

In that way the browser hasn't to draw all theese hundreds of products.

The tricky part would just be to reattach the elements before they become visible in the viewport.

[2016-06-25 15:15] gsomoza commented on #160
@cojaco I thought about doing that too, rendering will theoretically be faster. But we'd have to find answers to the following concerns:

1. Since we'd be making several calculations and then updating the DOM *as the user scrolls up/down*, the scrolling experience itself will probably remain quite poor - not only jumpy (due to the constant spatial changes to the DOM which will cause the scrollbar'

[2016-06-27 08:39] cojaco commented on #160
@gsomoza

I was playing arround with it over the weekend, but I'm still struggeling to reatach detached elements.

Here is what I tried:
https://jsfiddle.net/pg083x17/4/
pretty messy

But the Idea is to:
wrap x elements
calculate the height of the wraps and set it inline css, to prevent jumping and to reduce elements. (its probably not so good for responsive / screen resize)

Than on scroll check

[2016-06-27 12:50] gsomoza commented on #160
Wow: `Infinity` is amazing, works really fast! I think you should consider making that one work, if anything.

But yes, indeed: re-attaching elements will be difficult in Magento, even with something like Infinity. I can't think of a way to do it generically, so I don't think this feature could make it to the core of this extension (even though it would be awesome). However as a merchant or as a t

[2016-06-27 15:24] damian-pastorini commented on #160
Hi guys, I would like to suggest to research about memory leaks and how to test or fix them, like:
- http://stackoverflow.com/questions/19621074/finding-javascript-memory-leaks-with-chrome
- https://auth0.com/blog/2016/01/26/four-types-of-leaks-in-your-javascript-code-and-how-to-get-rid-of-them/
Maybe there's a way to fix this by detecting where the memory is been consumed and rewriting that pice

[2016-06-30 08:44] gsomoza opened #161 "List Mode Only Issue"
Reported via Magento Connect (sic):

[2016-06-30 11:02] damian-pastorini commented on #161
This was already corrected:
https://github.com/Strategery-Inc/Magento-InfiniteScroll/blob/master/app/code/community/Strategery/Infinitescroll/Block/Init.php

[2016-06-30 11:02] #161 closed

[2016-06-30 11:20] gsomoza commented on #161
Ah, he was probably using an older version of the extension then. Thanks Damian!

[2016-07-05 01:17] damian-pastorini commented on #135
@pjona I started with the extesion refactoring, we created a new repo for it:
https://github.com/Strategery-Inc/Magento2-InfiniteScroll
I'll close this ticket now, please make sure for follow up on the new repo.
Best!

[2016-07-05 01:17] #135 closed

[2016-07-28 06:44] ashishjob0424 opened #163 "Not loading all products back."
It loads all product page wise when i am scrolling but issue produces suppose from page 3 i am clicking on any product to view the product details and then from detail page i am going back to list page from back button of browser then on listing page i am not able to load all my page.

[2016-08-01 12:18] damian-pastorini commented on #163
Hi @ashishjob0424 , a few questions:
1 - Could you give a link where we can check the error?
2 - Do you have a custom theme?
3 - Did you installed InfiniteScroll last version?
4 - Did you tried the load previous products feature? Note: this is in the last InfiniteScroll version.

We need more information to check the issue please.

Best,

[2016-08-01 23:09] thiagolima-bm opened #164 "Mobile not loading when scrolling"
Hi I am facing problems when scrolling at any mobile device. Sometimes it loads, sometimes not.

[2016-08-02 14:57] damian-pastorini commented on #164
Hi @thiagolima-bm , could you give us more specifications on the issue?
1 - Could you give a link where we can check the error?
2 - Do you have a custom theme?
3 - Did you installed InfiniteScroll last version?
4 - The issue happens on any device or in an specific brand / OS / browser?
5 - Do you have steps to reproduce it consistently?
Any additional information will be appreciated.
Thanks!

[2016-08-04 16:04] thiagolima-bm commented on #164
@damian-pastorini link http://beta.vixbrasil.com/verao2017/biquinis.chtml
Custom theme; last version; chrome iphone 6; chrome mac (responsive).
You can test at your desktop, the theme is responsible. When you resize the screen, you will see the mobile version.
Thanks

[2016-08-05 16:11] damian-pastorini commented on #163
Hi @ashishjob0424 , any updates?
Thanks!

[2016-08-08 01:10] damian-pastorini commented on #164
Hi @thiagolima-bm , I checked the HTML and InfiniteScroll is not been loaded at all on any of the links in that page.
I tested InfiniteScroll in a base Magento implementation and it worked fine in the mobile devices.
Since this is a free extension and the issue doesn't look like to be in the extension itself but with your custom theme unfortunatelly we can't give you free support.
If you like you

[2016-08-08 06:51] ujwaldhakal opened #166 "Multiple selectors (Item: selectors)"
In the jquery option there is no option to pass multiple selectors for i.e to load the more than one div at a time different by id. For e.g in the jquery gridder like plugin it wont wok. Seriously neither there is no option to pass multiple param nor there is any option recall it

[2016-08-08 15:51] damian-pastorini commented on #166
Hi @ujwaldhakal , could you clarify the issue for me please?
Why are you trying to use multiple selectors?
The selectors configuration are implemented in the IAS config and it requires unique selectors for each element.
The extension it self is not prepared to work with multiple InfiniteScroll instances in the same page if that's what you are looking for.

[2016-08-08 23:41] ujwaldhakal commented on #166
I am trying to make it work on plugin like jQuery gridder as it wont work on it

-----Original Message-----
From: "Damian A. Pastorini" <notifications@github.com>
Sent: ‎8/‎8/‎2016 9:36 PM
To: "Strategery-Inc/Magento-InfiniteScroll" <Magento-InfiniteScroll@noreply.github.com>
Cc: "Ujwal Dhakal" <kevin.ujwal@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [Strategery-Inc/Magento-Inf

[2016-08-09 00:31] damian-pastorini commented on #166
Hi @ujwaldhakal ,
Since this is a free extension and the issue is not related to the extension itself but with your custom implementation unfortunatelly we can't give you free support.
If you like you can hire our development services so we can assist you with the issue, just email us at contact@strategery.io.

Best,

[2016-08-09 00:31] #166 closed

[2016-08-09 03:11] ujwaldhakal commented on #166
The extension wont work if we need the multiple selector in items param like currently we doing items:"selector" so it would be better if we could do items:"selector1,selector2 etc" or there is no any reboot method for the plugin

[2016-08-10 03:44] ujwaldhakal commented on #166
I couldnt find the solution from there is there any thing you would
recommend on this?

On Tue, Aug 9, 2016 at 8:41 PM, Damian A. Pastorini <
notifications@github.com> wrote:

[2016-08-10 11:46] damian-pastorini commented on #166
At this point I don't really know why you need to use multiple selectors, maybe actually you need to create multiple InfiniteScroll instances in the same page, but the extension is prepared for that, so my recommendation is to hire a developer to customize the extension for your particular case.

Best,

[2016-08-16 12:51] aurmil opened #168 "Uncaught ReferenceError: $j is not defined"
hello
$j is defined in js/lib/jquery/noconflict.js which is loaded only in RWD theme
why not use jQuery at line $j(window).trigger('delayed-resize'); as in the rest of the file, instead of $j?
thanks

[2016-08-16 12:54] gsomoza commented on #168
Definitely a good idea to use jQuery directly since it should always be available under that alias (if loaded).

If you can create a PR we'll happily merge it!

Otherwise @damian-pastorini please deal with it when you get a chance.

[2016-08-16 12:59] aurmil commented on #168
OK done, see https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/169

[2016-08-16 13:30] damian-pastorini commented on #163
Without any updates, closing the issue.

[2016-08-16 13:30] #163 closed

[2016-08-16 13:31] damian-pastorini commented on #164
Without any updates, closing the issue.

[2016-08-16 13:31] #164 closed

[2016-08-18 11:30] damian-pastorini commented on #168
See the comments in https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/169 this only works with $j, we added a validation to avoid issues in other themes in: https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/170.

Best,

[2016-08-18 11:30] #168 closed

[2016-09-18 16:33] stefan68 commented on #159
I think you can try this extension: http://bsscommerce.com/magento-infinite-scroll-for-magento-2.html
It works well as described

[2016-09-18 16:35] stefan68 commented on #153
I think you can upgrade your site to Magento 2.x and then install this module for Magento 2 version: Infinite Scroll by BSS Commerce. It has been working well as described.
Check it out here: http://bsscommerce.com/magento-infinite-scroll-for-magento-2.html

[2016-09-18 17:07] gsomoza commented on #159
@stefan68 are you seriously recommending another extension (competition) on this extension's issue tracker? What's worse: the extension you mentioned is not free (like this one) and it will probably have the same issues anyway, so you're not really solving any issues.

Since I don't see much activity from you in Github, I'll have to assume that you're somehow affiliated to that extension and ban y

[2016-09-18 17:19] gsomoza commented on #153
@stefan68 is that the most cost-effective solution you could come up with? LOL

You've been blocked for abusing our issue tracker, anyone interested can read the comment about it at #159

[2016-09-18 17:22] gsomoza commented on #153
@elfyrocks excellent suggestion - @damian-pastorini could we move that suggestion to our extension's Wiki?

[2016-09-21 21:59] damian-pastorini commented on #153
Notes included in "Development Notes" in the README file.
Thanks!

[2016-10-05 10:01] Vivendo opened #171 "After implemented infinite scroll quick view not working"
Hi team ,
After implemented infinite scroll quick view not working on next pages.Please see below quick view initialize code.

initialize: function(selector, x_image, settings)
    {
        Object.extend(this.settings, settings);
        this.createWindow();

        var that = this;
        $$(selector).each(function(el, index){

        el.observe('click', that.loadInfo.bind(that));

        })

[2016-10-05 10:02] gsomoza commented on #171
Please take a look at this: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page

[2016-10-05 10:02] #171 closed

[2016-10-20 15:21] informundo commented on #156
I updated to last version but don´t show the button to load previus pages. I test in default, rwd and custom template and don´t see in any.
In the configuration i test with selector "previous i-previous" and "previus".
Ej with default template: https://www.detiendas.online/informatica-y-oficina
Ej with custom template: https://www.navatiendas.es/informatica-y-oficina
Regards
![load previus](https:

[2016-10-20 21:28] damian-pastorini commented on #156
Hi @informundo , remember the selector is implemented with jQuery so it should be:
`.previous.i-previous`
Because the link class:
![image](https://cloud.githubusercontent.com/assets/1211779/19578623/f4515548-96f2-11e6-952f-970364355137.png)

Please let me know how it goes.

Best,

[2016-10-21 09:01] informundo commented on #156
Ok. Now work perfectly. Thanks.

[2016-10-21 10:52] #156 closed

[2016-11-22 09:53] minindamiddle commented on #128
Hello Gabriel!

I have the same issue after last two updates(

[2016-11-22 10:34] gsomoza commented on #128
@minindamiddle unfortunately we don't have a solution for this, see [my answer here](https://github.com/Strategery-Inc/Magento-InfiniteScroll/issues/128#issuecomment-163154237)

[2016-11-22 10:35] gsomoza commented on #128
@minindamiddle keep in mind this ticket is for an issue with the AITOC Layered Navigation extension. If you're not using it then you might be experiencing a different issue.

[2016-11-22 10:45] minindamiddle commented on #128
Thank you for reply. There is the only option to downgrade. What last version is stable for this issue?

[2016-11-22 21:13] gsomoza commented on #128
If you don't use AITOC Layered Navigation then this issue might not apply to you. Do you use any kind of AJAX-based layered navigation?

[2016-11-22 23:01] minindamiddle commented on #128
I found out that your extension is not relate to this issue. This bug is not in all categories, only in new. I fixed it by set manually item position in category (1,2,3,4... etc). But the reason of this issue is unknown. Manually visit pages is working fine. Other ordering methods (name, price) also are fine.

[2016-11-23 07:46] gsomoza commented on #128
Glad you could fix it! If you think other people could have the same issue, would you consider contributing a few lines for how to solve it in our Wiki? This extension is open-source and free to use, so we rely on input from people like you to make it better for everyone.

[2016-11-30 13:32] dev2jbsols commented on #127
Hello,

I am also facing same issue that Magehouse_Slider not compatible to infinte scroll extension. Have you found any solution of this? How To fix it? Please share here.

Thank You

[2017-01-04 03:06] geo782 opened #172 "mobile/tablet issue"
Hi,
I just installed the infinitescroll with No include jquery in my 1.8.1 version with custom theme and the extensions works well except of the widths of the product grid and items. For example, after loading 2 more pages (total 3), the code for the first page is :
[code]

And for the second page loaded and after, the code is :
[code]

As you can see, the first page has widths but the rest (ul an

[2017-01-04 12:10] gsomoza commented on #172
The best solution is to not use JS for adjusting widths; that's the root of the problem you're having. My recommendation would be to invest in migrating to a better responsive approach.

However if you want to "hotfix" this, it should be possible - you may want to look at [this page in the Wiki](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-P

[2017-01-04 12:10] #172 closed

[2017-01-07 13:10] geo782 commented on #172
Hello, thanks for the reply.
Unfortunately i dont undestand what code do i have to add. Theme is https://goo.gl/ZbkOha
I have found a js file that I think that it is responsible for the column widths and the code in this file is :
[code]

How do I run this code everytime a new page is loading? I have "Include jQuery" set to "No" in settings.

Regards
George

[2017-01-07 13:15] gsomoza commented on #172
Unfortunately, since this is a free extension, we can't provide free support for things that are not a bug on the extension. This is a specific problem with your current theme or a customization that was applied to it. I recommend you hire a qualified Magento developer to help you fix it.

If you're interested in hiring one of my company's developers feel free to send me an email at: contact (at)

[2017-01-10 01:05] geo782 commented on #172
Please check your email.

[2017-01-12 19:10] danieledr commented on #150
Hi, @damian-pastorini ,
in my Ultimo theme if I would display **on hover** name and price of products, the infinite scroll don't work from second page, display only products image!
Please help me.
Regards

[2017-01-12 21:15] damian-pastorini commented on #150
Hi @danieledr , you will probably need to apply some custom code to run the JavaScript from your theme after the InfniteScroll loaded the next products page.
To do that you can use an observer like the one I commented before:
[code]
But as I commented before since this is not an issue in the extension itself we can't give you free support, if you like to hire some support hours you can email us: c

[2017-01-14 22:04] geo782 commented on #172
I managed to solve the problem by editing the init.phtml at /app/design/frontend/default/CUSTOMTHEME/template/strategery/infinitescroll/
I added 3 lines
[code]

before the });

in
[code]

[2017-01-16 11:03] gsomoza commented on #172
Great, and thanks for posting the solution so others can benefit!

[2017-03-09 10:18] systechabc opened #174 "Previous page not working"
Hello,

I was looking for the "Show previous page" functionality when the user clicks on a product and then decides to click on the "Back" button. I see that You state that this functionality works, but it does not seem to be working for me. I have downloaded the latest version, and I see the part of the code which should be responsible for kicking this process into action, but it does not seem to

[2017-03-09 11:47] systechabc commented on #174
If it is relevant, my Magento version is 1.9.2.1.

[2017-03-24 10:58] damian-pastorini commented on #174
Hi @systechabc ,

A few questions:
- Do you have a custom theme? Maybe you just need to change the previous button selector?
- Did you flushed cache?
- Could you tell me an URL where I can see the issue?
- Did you tried to enable the IS debug mode to see if there's any issue in the console?

Best,

[2017-03-27 08:43] systechabc commented on #174
Hello Damian,

I do have a custom theme.
I have tried setting the previous button selector to .prev and to .previous, but neither worked.
I have tried flushing the cache, but it still did not work.
You can see this on this link http://bilablaudevelop.com/sunglasses.html
The debug mode is enabled and it is logging stuff in the console but I would need to get deep inside the code itself to see what

[2017-04-13 14:15] systechabc commented on #174
It doesn't matter anymore, we managed to solve it ourselves.
Best regards.

[2017-04-13 14:15] #174 closed

[2017-04-13 14:47] damian-pastorini commented on #174
Hi @systechabc , sorry I didn't have time to check on the issue, how did you fix it?

Best,

[2017-05-21 12:32] best4u opened #177 "Debug messages in windows' console when I have debug mode turned off"
In admin panel I turned off debug mode, but it continue to show log messages in window's console.

This is because the check is wrong:

` window.SgyIAS = {
        debug: window.iasConfig.mode,
        _log: function(object) {
            if(this.debug) {
                console.log(object);
            }
        },`

In `window.iasConfig.mode` comes the _Items (grid mode)_ from admin settings, bu

[2017-05-21 12:34] #177 closed

[2017-05-24 05:33] ramesh8391 opened #178 "Magento 1.9 strategery infinite scroll not working"
Am using Magento 1.9 theme coolbaby. i'm configure every thing
![m1](https://cloud.githubusercontent.com/assets/28915958/26388153/41f4641c-4070-11e7-9604-76e0bca4d0ba.JPG)

but i got some error in console and also product not loaded
![m2](https://cloud.githubusercontent.com/assets/28915958/26388181/718478de-4070-11e7-9f96-c8496d586a73.JPG)

error in http://ajax.googleapis.com/ajax/libs/jquery/1.10

[2017-05-24 06:49] gsomoza commented on #178
Looks like you have an invasive AJAX extension installed, please check [this article](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts) in the wiki for more help.

[2017-05-24 06:49] #178 closed

[2017-05-24 06:58] ramesh8391 commented on #178
Hi gsomoza,

Thanks for your reply. you are right,  am using Ajax cart in my theme. If am omit Ajax cart this extensions will working or not...?

[2017-05-24 07:08] gsomoza commented on #178
Probably yes (or at least you won't get this same error) - try disabling that extension temporarily to confirm.

[2017-05-24 07:22] ramesh8391 commented on #178
Yes this is the error i got in console

"_Uncaught Error: Syntax error, unrecognized expression: {"status":"SUCCESS","viewpanel":"\n\n\n\n<div class=\"block block-layered-nav\">\n\n    <div class=\"block-content\">\n\n ect....._"

[2017-05-24 21:51] scottmberry opened #179 "Demo isn't working"
I haven't tried to install myself. But your demo doesn't seem to be working right. Nothing loads automatically, there is a "load more" text link under the first page. If I click that a broken image shows, the text still shows and eventually the next page loads below. The text still exists in between the two pages and then nothing else loads after I scroll down past page 2.

[2017-05-27 10:33] gsomoza commented on #179
Thanks for reporting! Indeed - we indeed have to fix the demo, but to be honest it's likely we'll just take it down altogether, since most versions of Magento 1 are losing official support soon anyways.

[2017-05-27 10:55] scottmberry commented on #179
Keep it up! Lots of people still use M1 and won't be converting any time soon.

[2017-06-19 07:37] jiteshmalhotra opened #180 "InfinteScroll || Not Working"
Hi,
I have installed an infinite scroll - Strategery. I have kept all the files at there respective paths or folder. But It is not working, I have enabled from backend too.
Kindly help to resolve this issue out.

Thanks,
Jitesh

[2017-06-22 07:57] gsomoza commented on #180
Have you been able to check the [Wiki](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki) for common issues?

[2017-06-26 15:11] #180 closed

[2017-06-26 15:11] gsomoza commented on #179
You're right, Magento officially announced continued support. We'll look into it as soon as possible.

[2017-07-20 13:59] udupi opened #181 "Infinite Scroll not working"
Hi sir,
         I'm facing issues with infinite scrolling.
My Magento version is 1.9.2.4 and have installed venusthemes.
I have installed the extension using https://connect20.magentocommerce.com/some_key/strategery+Strategery_InfiniteScroll2-3.5.3 in Magento Connect Manager and followed instructions as per the installation procedure.

Selectors are same as one which is default in the selectors t

[2017-07-21 07:56] gsomoza commented on #181
The 1st point shouldn't be necessary anymore because the files are being distributed inside `app/design/frontend/base/default`, which is the final fallback for most themes. I updated the documentation accordingly.

Seems like your only problem might be that 404. Could you find that file in the filesystem? `{magento-root}/js/jquery/infinitescroll/jquery-ias.min.js`

[2017-07-21 07:57] gsomoza commented on #181
Is this path also giving you a 404: `skin/frontend/base/default/js/infinitescroll/ias_config.js`?

[2017-07-21 08:46] udupi commented on #181
Hi sir,
      I'm glad that you replied. Coming to the point, the file which you mentioned in the 1st reply:
**Seems like your only problem might be that 404. Could you find that file in the filesystem? {magento-root}/js/jquery/infinitescroll/jquery-ias.min.js**

The file is present. I've cross checked it.

About your second reply:
**Is this path also giving you a 404: skin/frontend/base/default/j

[2017-07-21 08:57] gsomoza commented on #181
The second file is OK then.

If the first file is present in your filesystem and in the correct location, but the web server is returning a 404, then there might be a problem with your web server configuration. Are other files inside `{magento-root}/js/*` being served properly?

[2017-07-21 10:51] udupi commented on #181
Hi Sir,
The file is inside the file system you mentioned. And even the **js/jquery/infinitescroll/jquery-ias.min.js** path is rendering the js contents in the browser. So I feel there may not be an issue with the file structure as I used the extension link from magento marketplace. Do you get any other possible issues in your mind?
![config](https://user-images.githubusercontent.com/15322175/28460

[2017-07-22 10:43] udupi commented on #181
Hi sir,
        Did you get any idea regarding the issue? Can you please help me in tracing the issue.

Thank You

[2017-07-28 10:47] gsomoza commented on #181
Are you still getting those 404s? I'd check the server until you find the root cause for that 404.

[2017-07-31 05:45] udupi commented on #181
Hi sir,
          Happy to see you back and once again thank you for replying. Sir let me tell you that none of the links mentioned in your replies have 404 error. I've cross checked the same several times. I'm not understanding how to trace the issue as even the **view source** page shows me all infinite scroll js contents. **404 is not there**

Please do look into the screenshots
1) pagination p

[2017-07-31 08:03] gsomoza commented on #181
Do you have the site online somewhere we can see it? Otherwise I'm afraid we won't be able to help.

I also wanted to take the opportunity to just mention that we only offer support for bug fixes on our extension. If you're having integration issues (e.g. related to the custom theme) then we won't be able to help much because this is a free extension. If you want commercial support you can email u

[2017-07-31 10:37] bakkee opened #182 "Ultimo + Price"
Hi,

I got issue with ultimo template, prices are not appears when load new page.
Any idea what that can be?

[2017-07-31 11:42] gsomoza commented on #182
Please refer to this document in the Wiki: https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page

[2017-07-31 11:42] #182 closed

[2017-07-31 14:03] bakkee commented on #182
Sorry im newbie in this. But should i install ajax scroll?

[2017-08-21 14:43] PawanKumarN opened #183 "Infinite scroll not working in magento 1.9.1"
Hi,
I'm facing issues with infinite scrolling.
My Magento version is 1.9.1.0 and have  rwd theme customized
I have installed the extension using
https://marketplace.magento.com/strategery-strategery-infinitescroll2.html
i saw demo
http://demo.usestrategery.com/infinite-scroll/infinitescroll.html?p=8
in demo working fine in my magneto it is not working
checked some links i found one link
https://st

[2017-08-21 15:00] PawanKumarN commented on #114
I have same issues please help me how to resolve

[2017-08-21 15:10] PawanKumarN commented on #181
i have installed extension after installing i check the below link
 http://www.mysite.com/infinitescroll2/js but i got 404 i am struggling from 2 days please guid me how to resolve

[2017-08-23 08:35] gsomoza commented on #183
Have you been able to go through the [Wiki](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki) for configuration instructions and fixes for common integration issues?

[2017-10-21 12:50] danielchicote opened #184 "Not working under https"
Hello seems that the module does not work under ssl. I'm the only one?

[2017-10-23 12:42] kaushalsutharhs opened #185 "Show Button for loading"
Instead of loading product automatically, How can we display "Load more" button and on click we load more product?

[2017-10-23 13:27] damian-pastorini commented on #181
hi @PawanKumarN ,
- Do you still have the issue?
- If so could you provide an URL where we can check it?
- Do you have any theme or customization implemented in the frontend?
Best,

[2017-10-23 13:28] damian-pastorini commented on #181
So far I'm not able to reproduce the any of the commented issues in a default Magento installation.

[2017-10-23 13:31] damian-pastorini commented on #183
Hi @PawanKumarN , do you still have the issue?
I'm pretty sure some of the customizations could be generating the issues with the extension.
I also wanted to take the opportunity to just mention that we only offer support for bug fixes on our extension. If you're having integration issues (e.g. related to the custom theme) then we won't be able to help much because this is a free extension. If you

[2017-10-23 13:33] damian-pastorini commented on #184
Hi @danielchicote , could you provide an URL where we can check the issue?
Another considerations will be:
- Do you have any customizations implemented?
- Any other information like Magento version, environment, etc. will help.
Thanks!

[2017-10-23 13:36] damian-pastorini commented on #179
Demo is back online: http://demo.usestrategery.com/infinite-scroll/infinitescroll.html

[2017-10-23 13:36] #179 closed

[2017-10-23 13:47] damian-pastorini commented on #185
Hi @kaushalsutharhs , you can set the "Load More threshold" option to zero, it's located in:
System / Configuration / InfiniteScroll / Design
Best,

[2017-10-23 13:47] #185 closed

[2017-10-23 14:26] kaushalsutharhs commented on #185
@damian-pastorini : thanks :+1:

[2017-10-27 12:59] danielchicote commented on #184
Hi I have found the cause. It was the url of one image of the skin, that was non https.
Now its working. :)

[2017-10-27 22:25] #184 closed

[2017-11-07 13:42] #183 closed

[2017-11-07 13:42] #181 closed

[2017-11-16 09:11] gt06 opened #186 "getting error on jQuery - infinte scroll"
Thanks for the great plugin.
When I reached up to loading, console error is getting.

![error](https://user-images.githubusercontent.com/21965316/32883022-2bff4054-cadc-11e7-9ed7-36ece9e3b476.png)

I have uploaded screenshot.
How can is solve this error.
Please help

[2017-11-26 12:48] danielchicote opened #187 "Loader stop"
Hello, how would be possible to add stop/start button to the infinitescroll?

If the user wants to go to the footer of the page, the browser continues loading and refresing the catalog when he makes scroll, and this may be frustrating.

[2017-12-01 10:55] damian-pastorini commented on #187
Hi @danielchicote,
You could prevent the products to be loaded automatically by setting the "Load More threshold" option to zero, it's located in:
System / Configuration / InfiniteScroll / Design
That will make the InfiniteScroll to display the "load more products" link.
If you still need to customize the feature by any other reason you can access all the IAS events you can see here:
https://githu

[2017-12-01 10:59] damian-pastorini commented on #186
Hi @gt06 ,
For what I see in the screenshot it seems you have some customizations that are changing the requests output for the AJAX calls, which is making the scroll to fail on load the next set of products.
At this time we only offer free support for bug fixes on our extension, in your case you're having integration issues (e.g. related to the custom theme) then we won't be able to help much bec

[2017-12-05 12:13] tarunjeet opened #188 "infinite scroll not showing products as per fme ajax filter"
when i, select a filter category from FME layered navigation and then scroll down it does not show products as per selected filter on first scroll...
please suggest some solution thanks in advance

[2018-01-11 18:01] MrBlood opened #189 "Double products"
Everything was working great...  then all of a sudden - (only with infinite scroll ON) --- I get duplicate products and some are missing.  It shows the correct # of products, it's just that some are duplicates...  then some do not show at all.

Again, not sure what happened.  The only difference was that new products were entered.  Have you seen this problem before.  Right now I have it turned off

[2018-01-12 08:58] gsomoza commented on #189
There are a couple of reasons why something like this could happen:

1. The URL structure changed and now InfinteScroll cannot detect what the URL for the "next" product page is. This is unlikely because we simply retrieve that URL from the pagination itself, so unless the original link is broken InfinteScroll should work with virtually any type of URL.
2. The structure or semantics of the HTML ar

[2018-01-12 08:58] #189 closed

[2018-04-07 09:50] qamarshopping opened #190 "I got Page not found on admin section"
when i tried to complete my installation , i got page not found error on admin section

[2018-04-11 08:05] gsomoza commented on #190
This is a known Magento 1 quirk related to back-end permissions. Try logging out and then back in to the admin – that should fix it.

[2018-04-11 08:05] #190 closed

[2018-05-28 10:38] amitsigma opened #191 "Next page Scroll not working if we scroll slowly..."
Next page Scroll not working if we scroll slowly...

[2018-05-28 20:37] gsomoza commented on #191
Any chance you could confirm if this happens in a vanilla / plain Magento 1 install? If not then could you please tell us which Magento version you're running and what browser you're using to test?

[2018-07-13 09:29] AlessioEsse opened #192 "flickering on chrome on scroll up"
There is a bug in chrome. Once at the end of the products list page if I try to scroll up the page flickr and take the page back to the bottom. Anybody noticed the same issue? Firefox Safari IE and Edge works fine. I have set the infinite scroll to load one page an show a "load more" button.

[2018-08-21 08:05] AgenceGlanum opened #193 "Aheadworks_LayeredNavigation conflict"
Hi,

We use your module with the Aheadworks_LayredNavigation module.

When we filter the list and then scroll down, the next products are not loaded. We contacted the Aheadworks support which answered us: "The error occurs with the re-init in 3d party Strategery_Infinitescroll module. Please, contact Strategery developer asking them to give some comments on the following error:
Uncaught Error: Syn

[2018-08-21 08:11] gsomoza commented on #193
Hi @AgenceGlanum – this is indeed not a problem with the Aheadworks extension: it's rather an integration issue between the two extensions.

We have a few articles that explain [how to solve some common integration issues](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/3rd-party-Extension-Conflicts) like the one you're having. You might also want to [read this](https://github.com/St

[2018-08-21 08:11] #193 closed

[2018-11-30 14:23] sprankhub opened #194 "PHP 7.2 Issue"
Thanks for that nice extension! There is an issue with PHP 7.2, because you cache a non-numeric value in `Strategery_Infinitescroll_Model_Admin_Feed::setLastUpdate`. This crashes in `Mage_AdminNotification_Model_Feed::checkUpdate`:

    Notice: A non well formed numeric value encountered  in /var/www/shop/app/code/core/Mage/AdminNotification/Model/Feed.php on line 77

    #0 /var/www/shop/app/code

[2018-11-30 14:32] gsomoza commented on #194
Great, thanks for reporting this. Unfortunately we're super busy preparing our clients for the end of the year and we won't be able to get to this just yet. Would you consider submitting a PR to help us release a fix for this?

[2018-11-30 14:52] sprankhub commented on #194
Sure thing. Coming!

[2018-11-30 14:54] sprankhub commented on #194
Here you go!

[2018-12-31 09:30] ziofonta opened #198 "Error when adding to cart a product by category page"
I'm getting this error when, after scrolling the category page, I try to add to cart one product:
[code]
this happens only when trying to add to cart products that are "added" to the page by infinite scroll, the error does not occur when adding the first products already present in the page.

[2019-01-16 11:29] MAk-Antonio opened #199 "Errors with cache when update catalog template File"
Hello,
I  installed the module,
and work perfectly, except for problems when update template files ajax call return a old view of template,
and don't appear alterations in template file.
How could i Fix it?

[2019-01-18 10:21] gsomoza commented on #199
Looks like you might have run into [this gotcha](https://github.com/Strategery-Inc/Magento-InfiniteScroll/wiki/Functionality-Issues-After-Loading-Next-Page). The documentation there gives a general idea of how to approach the issue.

Another possibility, if this is really only a cache issue, is that the cache is not really varying based on the "p" request parameter. In that case you're going to ha

[2019-01-18 10:21] #199 closed

[2019-01-19 19:44] MAk-Antonio commented on #199
Sorry, but i can't see how i can fix it and how the IAS events can help me with this, still have the problem and the normal paginaton work perfectly. Have a Event, a exactly method to fix it?

[2019-02-22 08:53] gsomoza commented on #199
I'm afraid I can't offer you an "exact" solution for this. If you're not an experienced Magento developer then I recommend hiring one at least so he/she can look into this particular issue and fix it. Unfortunately that's not something we can do for free..

[2019-10-04 14:26] vishy93 opened #200 "Uncaught ReferenceError: ConfigurableMediaImages is not defined error Magento 1.9.4.2"
I have been looking to incorporate infinite scrolling into my site. So, when I came across the [InfiniteScroll Magento Plugin by Strategery-Inc][1] I was excited to give it a go.

However, I get the error:

    at...

On my theme I do not use Configurable Swatches, backtracking the error the following line is the culprit:

    ConfigurableMediaImages.setImageFallback(5312, jQuery.parseJSON('[]'));

[2019-10-04 15:31] AndresInSpace commented on #200
Because https://github.com/Strategery-Inc/Magento-InfiniteScroll/blob/master/app/design/frontend/base/default/layout/strategery-infinitescroll.xml

Doesn't add an If config to the xml including the configurableswatches.. so if you have configswatches disabled, it still trys to add files for them, which are causing your errors. I believe.

[2019-10-07 09:53] vishy93 commented on #95
https://github.com/Strategery-Inc/Magento-InfiniteScroll/issues/200

[2019-10-07 14:21] vishy93 commented on #200
@AndresInSpace Yeah solution looks to be a simple amendment to:

[code]

[2019-11-01 13:38] vaseemishak opened #202 "remove time stamp from pagination url"
?p=2&_=1572615171575
These url are unique every time so request goes to magento instead of cache or cdn.
I cant find andy config to remove it .

[2019-11-25 13:30] gsomoza commented on #200
@vishy93 that looks like it answers my question on #201 – have you confirmed this works?

[2019-11-25 13:42] vishy93 commented on #200
@gsomoza I can confirm it works :)

[2019-11-25 18:01] damian-pastorini commented on #200
hi @vishy93 I didn't tested this yet but, why did you also changed the template path? I think we only need to include the ifconfig attribute and that should do the trick or did you moved the template from strategery/infinitescroll ?
I don't recall that M1 replace the underscores to get the proper folder path automatically.
Thanks!

[2019-11-25 18:32] vishy93 commented on #200
@damian-pastorini hey pal, I cannot exactly recall why I changed the template path. I believe it is because I have always followed the underscore convention.

Magento does indeed convert underscores to forward slashes

[2019-11-26 10:03] gsomoza commented on #200
hmmm, I'm a bit skeptical that it does that conversion in the case of template paths.. @vishy93 if you could change the PR so the template path remains the same as before, that would be great so we can merge your PR quickly. Otherwise, we'll have to wait for @damian-pastorini to do regression testing on these changes.

[2019-11-26 11:57] damian-pastorini commented on #200
@gsomoza , here:
https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/203
https://github.com/Strategery-Inc/Magento-InfiniteScroll/pull/204
I'm closing this in favor of the commented PR's.

[2019-11-26 11:57] #200 closed

[2019-11-26 12:07] vishy93 commented on #200
@gsomoza Sure will duly amend pr now

[2019-11-28 14:12] samukabobermen opened #205 "duplicate page load"
Hello, I am using your infinite scroll module, but I found a bug that forces the scroll to work until the limit set is reached, even if there are not enough products for it, and so is appearing duplicate products in the display, I would like to know if it is possible to prevent this duplication?

[2020-01-12 17:28] gsomoza commented on #202
Thanks for reporting. I'd be happy to review a MR for this, so please feel to submit one if you found a good solution!

[2020-01-12 17:32] gsomoza commented on #205
Thanks for reporting this. Could you please provide step-by-step instructions on how to reproduce this bug, ideally using an out-of-the-box installation of Magento?

If meanwhile you already found a solution then we would also be happy to review a code merge request!

[2021-05-19 02:49] okniazik opened #206 "Not working in list mode"
Hi, works perfect in Grid mode, but not in the List mode. Even on RWD Theme

[2021-05-19 03:02] #206 closed, assigned to nobody

[2022-06-06 11:45] project-magento commented on #194
- [ ] #**- > [`****`](url)**